extends layout/layout.pug

block content
    .container
        .filters-panel
            .che-flexible
                .filters-panel__block.filters-panel__images_count.che-flexible__child
                    span Фото на стр.:
                    select.form-control.btn-transparent
                        option(value="25") 25
                        option(value="50") 50
                        option(value="100") 100

                .filters-panel__block.filters-panel__veiw.che-flexible__child
                    span Вид:
                    button.filters-panel__btn-square.fullzise.btn-transparent
                    button.filters-panel__btn-square.halfsize.btn-transparent
                    button.filters-panel__btn-square.thirdsize.btn-transparent

                .che-flexible__divider.hidden-lg.hidden-md

                .filters-panel__block.filters-panel__price.che-flexible__child
                    span Фильтр по цене:
                    button.filters-panel__btn-square.filters-panel__price__asc.btn-transparent
                        span min
                        span MAX
                    button.filters-panel__btn-square.filters-panel__price__desc.btn-transparent
                        span MAX
                        span min
                    button.filters-panel__btn-square.filters-panel__price__clear.btn-transparent

                .filters-panel__block.filters-panel__price-type.che-flexible__child
                    span Цена:
                    button.filters-panel__btn-square.btn-transparent опт
                    button.filters-panel__btn-square.btn-transparent розн.

                .filters-panel__block.filters-panel__sizes.che-flexible__child
                    span Размерная таблица:
                    button.filters-panel__btn-square.btn-transparent.modal-open-action(data-modal="modal-window__window-size-of")
    
    // - .che-show-filters
    .che-filters-fixed
        include include/filters.pug


    .container-fluid
        .catalog-blocks-container.text-center
            .che-catalog-title-all-item
                h2.catalog-aside__title.catalog-aside__title--mob бренды
                h2 Всего товаров: 
                    b 1000 ед.

            .row.che-responsive-action-view.che-catalog__main-part

                .catalog-aside
                    h2.catalog-aside__title бренды
                    ul.catalog-aside__list
                        li.catalog-aside__item 
                            a(href="#").catalog-aside__link seventeen
                                span.catalog-aside__item-number (234)

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link.catalog-aside__link--active tatiana
                                span.catalog-aside__item-number (234)

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link a-dress
                                span.catalog-aside__item-number (234)

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link itelle
                                span.catalog-aside__item-number
                        li.catalog-aside__item 
                            a(href="#").catalog-aside__link view mode
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link marse
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link tessdress
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link fashionup
                                span.catalog-aside__item-number

                        li.catalog-aside__item 
                            a(href="#").catalog-aside__link carica
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link glem
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link nenka
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link stellaplus
                                span.catalog-aside__item-number

                        li.catalog-aside__item 
                            a(href="#").catalog-aside__link milanova
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link artstyleleggings
                                span.catalog-aside__item-number (234)

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link luzana
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link safika
                                span.catalog-aside__item-number

                        li.catalog-aside__item 
                            a(href="#").catalog-aside__link rimari
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link aldidi
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link headdress
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link swirlbyswirl
                                span.catalog-aside__item-number

                        li.catalog-aside__item 
                            a(href="#").catalog-aside__link cardo
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link daminika
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link olis-style
                                span.catalog-aside__item-number

                        li.catalog-aside__item
                            a(href="#").catalog-aside__link x-woyz
                                span.catalog-aside__item-number

                .catalog-inner


                    //--cards--------------------------------------------------------
                    - for (var i = 0; i < 17; i++)
                        .catalog-blocks-container__block
                            img.img-responsive(src="./public/img/catalog_img_1.jpg")

                            button.catalog-blocks-container__block__wishlist

                            .catalog-blocks-container__block__bottom
                                .catalog-blocks-container__block__rozn розн.: 2500 руб
                                .catalog-blocks-container__block__opt опт.:
                                    =" "
                                    b 500 руб
                                .tooltipinfo
                                    img(src="./public/img/infosign_83743.png")
                                    span.tooltipinfotext оптовый заказ от 5 
                                        b любых 
                                        | вещей

                            .catalog-blocks-container__block__bottom-inner-container.che-flexible
                                .catalog-blocks-container__block__title платье SbS 71193
                                .che-input-flex-wrapper
                                    .my_input_group
                                         label.che-flexible__child
                                             span Размер
                                             select.catalog-blocks-container__block__size.form-control
                                                 option X
                                                 option M
                                                 option L
                                                 option XL
                                    .my_input_group
                                         label.che-flexible__child
                                             span Кол-во
                                             input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                         a.btn.btn-default-light.btn-info.catalog-blocks-container__block__details(href="#").che-flexible.che-flexible-btn-cenetring
                                             span Подробнее
                                    .my_input_group
                                        button.btn.btn-default-light.btn-success.catalog-blocks-container__block__details Купить

            //-------------------------------------------------------
            .pagination-container
                .che-flexible
                    .pagination-container__backward.che-flexible__child
                        a.pagination-container__first-button.che-flexible.che-flexible-btn-cenetring
                        a.pagination-container__prev-button.che-flexible.che-flexible-btn-cenetring

                    .pagination-container__pages.che-flexible__child
                        a.pagination-container__number-button.active 1
                        a.pagination-container__number-button 2
                        a.pagination-container__number-button 3
                        span.pagination-container__number-button.che-flexible.che-flexible-btn-cenetring
                            span ...
                        a.pagination-container__number-button 263

                    .pagination-container__forward.che-flexible__child
                        a.pagination-container__next-button.che-flexible.che-flexible-btn-cenetring
                        a.pagination-container__last-button.che-flexible.che-flexible-btn-cenetring

                    .pagination-container__custom-page.che-flexible__child
                        input.form-control.pagination-container__custom-page-input(type="number" pattern="[0-9]*" inputmode="numeric")
                        a.btn.btn-default-dark.btn-info.pagination-container__custom-page-button Перейти
