extends layout/layout.pug

block content
    .container
        .contacts-title контакты Компании
    .contact-info
        .container
            .row
                .col-xs-12.col-md-6
                    .row
                        .contact-info__block.col-xs-12.col-sm-6
                            .contact-info__block-icon.contact-info__block-icon-address
                            .contact-info__block-text.che-flexible
                                .contact-info__block-text-line ООО “Чечелюка Плюс”
                                .contact-info__block-text-line Российская Федерация. г.Белгород, ул.Новая 2а, офис #14

                        .contact-info__block.col-xs-12.col-sm-6
                            .contact-info__block-icon.contact-info__block-icon-phone
                            .contact-info__block-text.che-flexible
                                a.contact-info__block-text-line +7&nbsp;(495)&nbsp;777&nbsp;31&nbsp;97
                                a.contact-info__block-text-line +7&nbsp;(980)&nbsp;393&nbsp;25&nbsp;95

                .col-xs-12.col-md-6
                    .row
                        .contact-info__block.col-xs-12.col-sm-6
                            .contact-info__block-icon.contact-info__block-icon-email
                            .contact-info__block-text.che-flexible
                                a.contact-info__block-text-line belgorod@chechelyka.com

                        .contact-info__block.col-xs-12.col-sm-6
                            .contact-info__block-icon.contact-info__block-icon-skype
                            .contact-info__block-text.che-flexible
                                a.contact-info__block-text-line chechelyka

    .contact-persons
        .contact-persons__container-lg.clearfix
            .col-xs-12.col-lg-12
                .row.contact-persons__row
                        .contact-persons__block.col-xs-12.col-sm-12
                            .contact-persons__block-title Со всеми необходимыми документами вы можите:
                            .contact-persons__block-content
                                button.btn.btn-default-light.btn-info Ознакомиться

    .map-container
    script.
            function initMap() {
                var pos = {lat: 50.657466, lng: 36.561591};
                var map = new google.maps.Map(document.querySelector('.map-container'), {
                    zoom: 10,
                    center: pos,
                    streetViewControl: false,
                    mapTypeControl: false,
                    scrollwheel: false,
                    styles: [{"featureType":"all","elementType":"geometry.fill","stylers":[{"weight":"2.00"}]},{"featureType":"all","elementType":"geometry.stroke","stylers":[{"color":"#9c9c9c"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#eeeeee"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#7b7b7b"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#c8d7d4"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#070707"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]}]
                });

                var img = "./public/img/map-marker.png"

                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'ул.Новая 2а',
                    icon: img
                });

                marker.addListener('click', toggleBounce);

                function toggleBounce() {
                  if (marker.getAnimation() !== null) {
                    marker.setAnimation(null);
                  } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                  }
                }
            }

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd_snhGQX7cHByP0hssPXaIGyPRmuc4kU&signed_in=true&callback=initMap")

