extends layout/layout.pug

block content
    .container
        .che-main.text-center
            .head-quotes-block.text-center.hidden-xs.clearfix
                .head-quotes-block__text.col-xs-10.col-xs-push-1
                    p.head-quotes-block__paragraph Приветствуем Вас, наши друзья и партнёры! В нашем on-line магазине Вы можете оставлять свои отзывы о его работе. Мы с больщим удовольствием будем прислушиваться к Вашим оценкам и пожеланиям. Также просим Вас оставлять информацию о себе (достаточно Вашего e-mail), для того чтобы наши будущие партнёры, которые только планируют начинать с нами работать могли с Вами связатья и удостовериться в нашей компетентности.

                    p.head-quotes-block__paragraph Желаем Вам успех и процветания!

                    p.head-quotes-block__paragraph.head-quotes-block__title С уважением, ген. директор Chechelyka.com Герасименко Сергей Александрович.

            .feedback-container
                .feedback-container__top.text-center
                    .feedback-container__title Отзывы покупателей
                    button.feedback-container__add-feedback-button.btn.btn-info.modal-open-action(data-modal="modal-window__window-leave-feedback") добавьте ваш отзыв

                .feedback-container__block-container
                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_user-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-date 18 Oct 2016 13:52:08
                                .feedback-container__block-top-part.feedback-container__block-sender Татьяна, Москва
                                .feedback-container__block-top-part.feedback-container__block-rating Оценка магазина:
                                    b отлично!

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_admin-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-sender Администратор

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_user-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-date 18 Oct 2016 13:52:08
                                .feedback-container__block-top-part.feedback-container__block-sender Татьяна, Москва
                                .feedback-container__block-top-part.feedback-container__block-rating Оценка магазина:
                                    b отлично!

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_admin-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-sender Администратор

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_user-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-date 18 Oct 2016 13:52:08
                                .feedback-container__block-top-part.feedback-container__block-sender Татьяна, Москва
                                .feedback-container__block-top-part.feedback-container__block-rating Оценка магазина:
                                    b отлично!

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_admin-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-sender Администратор

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                .pagination-container
                    .che-flexible
                        .pagination-container__backward.che-flexible__child
                            button.pagination-container__first-button.che-flexible.che-flexible-btn-cenetring
                            button.pagination-container__prev-button.che-flexible.che-flexible-btn-cenetring

                        .pagination-container__pages.che-flexible__child
                            button.pagination-container__number-button.active 1
                            button.pagination-container__number-button 2
                            button.pagination-container__number-button 3
                            span.pagination-container__number-button.che-flexible.che-flexible-btn-cenetring
                                span ...
                            button.pagination-container__number-button 263

                        .pagination-container__forward.che-flexible__child
                            button.pagination-container__next-button.che-flexible.che-flexible-btn-cenetring
                            button.pagination-container__last-button.che-flexible.che-flexible-btn-cenetring

                        .pagination-container__custom-page.che-flexible__child
                            input.form-control.pagination-container__custom-page-input(type="number" pattern="[0-9]*" inputmode="numeric")
                            button.btn.btn-default-dark.btn-info.pagination-container__custom-page-button Перейти
