extends layout/layout.pug

block content
    .che-index__wrap
        .che-index__inner
            .che-index__info-wrap
                .che-index__info-head 
                    p ООО "Чечелюка ПЛЮС" является официальным дилером и представителем в Российской Федерации торговых марок и брендов, представленных в нашем оптовом онлайн-магазине

                .che-index__info-inner

                    .che-index__info-item.che-index__info-item--tobottom
                        .che-index__info-textpart.text--top.text--1
                            p.che-index__info-text Доставка ДО транспортной компании БЕСПЛАТНАЯ

                        .che-index__info-imgpart.border--red.img--bottom    
                            img(src="./public/img/index_free_triangle.svg").che-index__info-img

                    .che-index__info-item
                        .che-index__info-imgpart.border--green.img--top                              
                            img(src="./public/img/index_tshirt_triangle.svg").che-index__info-img

                        .che-index__info-textpart.text--bottom.text--2                        
                            p.che-index__info-text Минимальный заказ - #[span.che-nowrap 5 любых единиц со всего сайта]

                    .che-index__info-item.che-index__info-item--tobottom
                        .che-index__info-textpart.text--top.text--3
                            p.che-index__info-text Моментальная отгрузка (1-3 дня)

                        .che-index__info-imgpart.border--yellow.img--bottom                                  
                            img(src="./public/img/index_delivery_triangle.svg").che-index__info-img

                    .che-index__info-item
                        .che-index__info-imgpart.border--orange.img--top                               
                            img(src="./public/img/index_card_triangle.svg").che-index__info-img

                        .che-index__info-textpart.text--bottom.text--4                           
                            p.che-index__info-text Возможность безналичного расчёта
                
                .che-index__info-text--mobile
                    p.che-index__info-item--mobile.che-index__info-item--mobile-1 Доставка ДО транспортной компании БЕСПЛАТНАЯ
                    p.che-index__info-item--mobile.che-index__info-item--mobile-2 Минимальный заказ - #[span.che-bold 5] любых единиц со всего сайта
                    p.che-index__info-item--mobile.che-index__info-item--mobile-3 Моментальная отгрузка (1-3 дня)
                    p.che-index__info-item--mobile.che-index__info-item--mobile-4 Возможность безналичного расчёта

            //- banners part---------------------
            .che-index__banners-wrap.masonry-parent
                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_jadone_fashion.jpg" alt="Chechelyka - jadone_fashion").che-index__banner-img
                    p.che-index__banner-title jadone
                      br
                      span.che-index__banner-title--red fashion

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_view_mode.jpg" alt="Chechelyka - view_mode").che-index__banner-img
                    p.che-index__banner-title view#[span.che-index__banner-title--blue mode]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_it_elle.jpg" alt="Chechelyka - it_elle").che-index__banner-img
                    p.che-index__banner-title it#[span.che-index__banner-title--bieje elle]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_tess_dress.jpg" alt="Chechelyka - tess_dress").che-index__banner-img
                    p.che-index__banner-title tess#[span.che-index__banner-title--yellow dress]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_glem.png" alt="Chechelyka - glem").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--grey glem]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_marse.jpg" alt="Chechelyka - it_marse").che-index__banner-img
                    p.che-index__banner-title mar#[span.che-index__banner-title--marsala se]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_rimari.jpg" alt="Chechelyka - rimari").che-index__banner-img
                    p.che-index__banner-title ri#[span.che-index__banner-title--bieje mari]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_mila_nova.jpg" alt="Chechelyka - mila_nova").che-index__banner-img
                    p.che-index__banner-title mila#[span.che-index__banner-title--darkblue nova]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_seventeen.jpg" alt="Chechelyka - seventeen").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--pink seven]teen

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_safika.jpg" alt="Chechelyka - safika").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--lightblue safika]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_art_style_leggings.jpg" alt="Chechelyka - art_style_leggings").che-index__banner-img
                    p.che-index__banner-title art
                        br
                        span.che-index__banner-title--rose style
                        br
                        | leggings

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_fashion_up.jpg" alt="Chechelyka - fashion_up").che-index__banner-img
                    p.che-index__banner-title fashion#[span.che-index__banner-title--blue up]
                

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_luzana.jpg" alt="Chechelyka - luzana").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--lightpink luzana]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_nenka.jpg" alt="Chechelyka - nenka").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--peach nenka]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_irena_richi.jpg" alt="Chechelyka - irena_richi").che-index__banner-img
                    p.che-index__banner-title irena
                        br
                        span.che-index__banner-title--red richi

                //- a.masonry-item.masonry-stamp

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_a_dress.jpg" alt="Chechelyka - a-dress").che-index__banner-img
                    p.che-index__banner-title a-#[span.che-index__banner-title--a-dress dress]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_carica.jpg" alt="Chechelyka - carica").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--green carica]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_aldidi.jpg" alt="Chechelyka - aldidi").che-index__banner-img
                    p.che-index__banner-title aldi#[span.che-index__banner-title--bordo di]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/ index_head_dress.jpg" alt="Chechelyka - head dress").che-index__banner-img
                    p.che-index__banner-title head#[span.che-index__banner-title--head-dress dress]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_stellaplus.jpg" alt="Chechelyka - stellaplus").che-index__banner-img
                    p.che-index__banner-title stella#[span.che-index__banner-title--stellaplus plus]

                a.masonry-item.che-index__banner-item(href="#")
                    img(src="./public/img/index_tatiana.jpg" alt="Chechelyka - tatiana").che-index__banner-img
                    p.che-index__banner-title #[span.che-index__banner-title--tatiana tatiana]
