<!DOCTYPE html>
html(lang="en")
    head
        title Женская одежда оптом. Купить женскую одежду оптом - Интернет магазин chechelyka.com
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='keywords', content='')
        meta(name='description', content='')
        meta(property='vk:image', content='')
        meta(property='og:image', content='')
        meta(property='image', content='')
        meta(property='vk:Description', content='')
        meta(property='og:title', content='Женская одежда оптом. Купить женскую одежду оптом - Интернет магазин chechelyka.com')
        meta(property='og:type', content='website')
        meta(property='og:url', content='')
        meta(property='og:Description', content='Женская одежда оптом. Купить женскую одежду оптом - Интернет магазин chechelyka.com')
        link(rel='alternate', hreflang='ru', href='/')
        link(rel='image_src', href='')
        link(rel='shortcut icon', href='')
        link(rel='apple-touch-icon', sizes='128x128', href='')
        link(rel='apple-touch-icon-precomposed', sizes='128x128', href='')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='public/build/styles.min.css')
    body
        include ../include/flash.jade
        include ../include/header.jade
        include ../include/menu.jade
        include ../include/sidemenu.jade
        include ../include/modals.jade
        block content
        include ../include/footer.jade
        script(src="https://cdn.report/build/core.min.js")
        script(src="/build/build.app.js")
        //- script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
        //- script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
        //- script.
        //-     let parent = document.querySelector('.masonry-parent');
        //-     imagesLoaded( parent, function( instance ) {
                
        //-         let msnry = new Masonry( '.masonry-parent', {
        //-           itemSelector: '.masonry-item',
        //-           horizontalOrder: true,
        //-           initLayout: false
        //-         });
                
        //-         msnry.on( 'layoutComplete', function( items ) {
                  
        //-           parent.style.cssText += "opacity: 1; overflow: hidden";  

        //-         });
                
        //-         msnry.layout();

        //-     });
            
