extends layout/layout.jade

block content
    .cart
        .cart-table-container
            .container
                .cart-table-responsive-container
                    .cart-table-responsive
                        .cart-table
                            .cart-table__header-row
                                .cart-table__cell.cart-table__header-cell.cart-product-id-title Артикул
                                .cart-table__cell.cart-table__header-cell.cart-product-image-title
                                .cart-table__cell.cart-table__header-cell.cart-product-info-title Товар
                                .cart-table__cell.cart-table__header-cell.cart-product-price-title
                                    span
                                        span.che-price-choise(href="") Опт
                                        | /
                                        a(href="") Розница
                                .cart-table__cell.cart-table__header-cell.cart-product-count-title Количество
                                .cart-table__cell.cart-table__header-cell.cart-product-price-total-title Сумма (руб)
                                .cart-table__cell.cart-table__header-cell.cart-product-remove-title

                            .cart-table__row
                                .cart-table__cell.cart-product-id 75045
                                .cart-table__cell.cart-product-image
                                    img.img-responsive(src="./public/img/catalog_img_1.jpg", alt="")
                                .cart-table__cell.cart-product-info
                                    div Костюм SBS
                                    div Размер: S
                                    div Цвет: дизай №1
                                .cart-table__cell.cart-product-price 1200
                                .cart-table__cell.cart-product-count
                                    input.cart-product-count-input.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                .cart-table__cell.cart-product-price-total 1200
                                .cart-table__cell.cart-product-remove.text-right
                                    a.catalog-sidebar__selected-categories__remove

                            .cart-table__row
                                .cart-table__cell.cart-product-id 75045
                                .cart-table__cell.cart-product-image
                                    img.img-responsive(src="./public/img/catalog_img_1.jpg", alt="")
                                .cart-table__cell.cart-product-info
                                    div Костюм SBS
                                    div Размер: S
                                    div Цвет: дизай №1
                                .cart-table__cell.cart-product-price 1200
                                .cart-table__cell.cart-product-count
                                    input.cart-product-count-input.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                .cart-table__cell.cart-product-price-total 1200
                                .cart-table__cell.cart-product-remove.text-right
                                    a.catalog-sidebar__selected-categories__remove

    .container
        .row
            .col-xs-12.col-sm-4.col-md-3.pull-right
                .order-info
                    .order-info_title Общая сумма заказа:
                    .order-info_value 2400 руб.

        .row.che-flexible.cart-button-container
            .col-xs-12.col-sm-4.col-md-3.text-center
                button.btn.btn-default-dark.btn-transparent.cart-button-container_button Распечатать заказ

            .col-xs-12.col-sm-4.col-md-3.text-center
                button.btn.btn-default-dark.btn-info.cart-button-container_button Пересчитать

            .col-xs-12.col-sm-4.col-md-3.text-center
                button.btn.btn-default-dark.btn-success.cart-button-container_button.modal-open-action(data-modal='modal-window__window-send-order') Оформить заказ
