extends layout/layout.jade

block content
    .container
        .filters-panel
            .che-flexible
                .filters-panel__images_count.che-flexible__child
                    span Фото на стр.:
                    select.form-control
                        option(value="25") 25
                        option(value="50") 50
                        option(value="100") 100

                .filters-panel__veiw.che-flexible__child
                    span Вид:
                    button.fullzise
                    button.halfsize
                    button.thirdsize

                .filters-panel__divider.hidden-lg.hidden-md

                .filters-panel__price.che-flexible__child
                    span Фильтр по цене:
                    button.filters-panel__price__asc
                        span min
                        span MAX
                    button.filters-panel__price__desc
                        span MAX
                        span min
                    button.filters-panel__price__clear

                .filters-panel__price-type.che-flexible__child
                    span Цена:
                    button опт
                    button розн.

                .filters-panel__sizes.che-flexible__child
                    span Размерная таблица:
                    button

        .che-main
            .row
                .catalog-sidebar.col-xs-12.col-md-4.col-md-push-8.col-lg-3.col-lg-push-9
                    .catalog-sidebar__selected-items-count Выбрано товаров:
                        b 5064

                    button.btn.btn-primary#catalog-sidebar__reset-all Сбросить все

                    .catalog-sidebar__selected-categories
                        ul.list-unstyled
                            li
                                button.catalog-sidebar__selected-categories__remove
                                Костюмы

                    .catalog-sidebar__item
                        input(class="catalog-sidebar__accordeon-fake" id="catalog-sidebar-categories" type="checkbox")
                        label(class="catalog-sidebar__accordeon-img" for="catalog-sidebar-categories") Категории
                        .catalog-sidebar__item-hidden
                            .my_input_group
                                input#catalog-sidebar-categories__recently-added(type="checkbox")
                                label(for="catalog-sidebar-categories__recently-added") Новинки
                            .my_input_group
                                input#catalog-sidebar-categories__show-all(type="checkbox")
                                label(for="catalog-sidebar-categories__show-all") Показать все
                            .my_input_group
                                input#catalog-sidebar-categories__big-sizes(type="checkbox")
                                label(for="catalog-sidebar-categories__big-sizes") Большие размеры
                                    span (81)
                            .my_input_group
                                input#catalog-sidebar-categories__trousers(type="checkbox")
                                label(for="catalog-sidebar-categories__trousers") Брюки
                                    span (81)
                            .my_input_group
                                input#catalog-sidebar-categories__windbreaker(type="checkbox")
                                label(for="catalog-sidebar-categories__windbreaker") Ветровки
                                    span (1)
                            .my_input_group
                                input#catalog-sidebar-categories__kneesocks(type="checkbox")
                                label(for="catalog-sidebar-categories__kneesocks") Гольфы
                                    span (16)
                            .my_input_group
                                input#catalog-sidebar-categories__ds-jackets(type="checkbox")
                                label(for="catalog-sidebar-categories__ds-jackets") Демисезонные куртки
                                    span (16)
                            .my_input_group
                                input#catalog-sidebar-categories__sweaters(type="checkbox")
                                label(for="catalog-sidebar-categories__sweaters") Джемпера
                                    span (6)
                            .my_input_group
                                input#catalog-sidebar-categories__sheepskin-coats(type="checkbox")
                                label(for="catalog-sidebar-categories__sheepskin-coats") Дубленки
                                    span (3)
                            .my_input_group
                                input#catalog-sidebar-categories__vests(type="checkbox")
                                label(for="catalog-sidebar-categories__vests") Жилеты
                                    span (303)
                            .my_input_group
                                input#catalog-sidebar-categories__overalls(type="checkbox")
                                label(for="catalog-sidebar-categories__overalls") Комбинезоны
                                    span (23)
                            .my_input_group
                                input#catalog-sidebar-categories__complects(type="checkbox")
                                label(for="catalog-sidebar-categories__complects") Комплекты
                                    span (33)
                            .my_input_group
                                input#catalog-sidebar-categories__costumes(type="checkbox")
                                label(for="catalog-sidebar-categories__costumes") Костюмы
                                    span (53)
                            .my_input_group
                                input#catalog-sidebar-categories__blouses(type="checkbox")
                                label(for="catalog-sidebar-categories__blouses") Кофты
                                    span (77)
                            .my_input_group
                                input#catalog-sidebar-categories__light-jackets(type="checkbox")
                                label(for="catalog-sidebar-categories__light-jackets") Куртки легкие
                                    span (15)
                            .my_input_group
                                input#catalog-sidebar-categories__heavy-jackets(type="checkbox")
                                label(for="catalog-sidebar-categories__heavy-jackets") Куртки теплые
                                    span (5)
                            .my_input_group
                                input#catalog-sidebar-categories__sport-jackets(type="checkbox")
                                label(for="catalog-sidebar-categories__sport-jackets") Мастерки
                                    span (19)
                            .my_input_group
                                input#catalog-sidebar-categories__shoes(type="checkbox")
                                label(for="catalog-sidebar-categories__shoes") Обувь
                                    span (109)
                            .my_input_group
                                input#catalog-sidebar-categories__coats(type="checkbox")
                                label(for="catalog-sidebar-categories__coats") Пальто
                                    span (221)
                            .my_input_group
                                input#catalog-sidebar-categories__cardigans(type="checkbox")
                                label(for="catalog-sidebar-categories__cardigans") Пиджаки и кардиганы
                                    span (521)
                            .my_input_group
                                input#catalog-sidebar-categories__dresses(type="checkbox")
                                label(for="catalog-sidebar-categories__dresses") Платья
                                    span (1999)
                            .my_input_group
                                input#catalog-sidebar-categories__cloaks(type="checkbox")
                                label(for="catalog-sidebar-categories__cloaks") Плащи
                                    span (169)
                            .my_input_group
                                input#catalog-sidebar-categories__shirts(type="checkbox")
                                label(for="catalog-sidebar-categories__shirts") Рубашки и блузы
                                    span (488)
                            .my_input_group
                                input#catalog-sidebar-categories__pulloves(type="checkbox")
                                label(for="catalog-sidebar-categories__pulloves") Свитера
                                    span (146)
                            .my_input_group
                                input#catalog-sidebar-categories__swaetshirts(type="checkbox")
                                label(for="catalog-sidebar-categories__swaetshirts") Свитшоты
                                    span (134)
                            .my_input_group
                                input#catalog-sidebar-categories__sportswear(type="checkbox")
                                label(for="catalog-sidebar-categories__sportswear") Спортивная одежда
                                    span (14)
                            .my_input_group
                                input#catalog-sidebar-categories__hoodies(type="checkbox")
                                label(for="catalog-sidebar-categories__hoodies") Толстовки
                                    span (1)
                            .my_input_group
                                input#catalog-sidebar-categories__tunic(type="checkbox")
                                label(for="catalog-sidebar-categories__tunic") Туники
                                    span (116)
                            .my_input_group
                                input#catalog-sidebar-categories__t-shirts(type="checkbox")
                                label(for="catalog-sidebar-categories__t-shirts") Футболки
                                    span (212)
                            .my_input_group
                                input#catalog-sidebar-categories__hats(type="checkbox")
                                label(for="catalog-sidebar-categories__hats") Шапки
                                    span (212)
                            .my_input_group
                                input#catalog-sidebar-recently_added(type="checkbox")
                                label(for="catalog-sidebar-recently_added") Шапки женские
                                    span (212)
                            .my_input_group
                                input#catalog-sidebar-categories__shorts(type="checkbox")
                                label(for="catalog-sidebar-categories__shorts") Шорты
                                    span (21)
                            .my_input_group
                                input#catalog-sidebar-categories__pants(type="checkbox")
                                label(for="catalog-sidebar-categories__pants") Штаны
                                    span (3)
                            .my_input_group
                                input#catalog-sidebar-categories__skirts(type="checkbox")
                                label(for="catalog-sidebar-categories__skirts") Юбки
                                    span (3)
                            .my_input_group
                                input#catalog-sidebar-categories__recomendation(type="checkbox")
                                label(for="catalog-sidebar-categories__recomendation") Чечелюка рекомендует

                    .catalog-sidebar__item.catalog-sidebar-price-limit-container
                        input(class="catalog-sidebar__accordeon-fake" id="catalog-sidebar-price-limit" type="checkbox")
                        label(class="catalog-sidebar__accordeon-img" for="catalog-sidebar-price-limit") Цена
                            span (руб.)
                        .catalog-sidebar__item-hidden
                            .row.che-flexible
                                .my_input_group.che-flexible__child.col-xs-6
                                    label(for="price_lowest") от
                                    input#catalog-sidebar__price-lowest(type="text" value="100")
                                .my_input_group.che-flexible__child.col-xs-6
                                    label(for="price_highest") до
                                    input#catalog-sidebar__price-highest(type="text" value="5000")
                            button#catalog-sidebar__price-confirm.btn Ок

                    .catalog-sidebar__item
                        input(class="catalog-sidebar__accordeon-fake" id="catalog-sidebar-color" type="checkbox")
                        label(class="catalog-sidebar__accordeon-img" for="catalog-sidebar-color") Цвет

                    .catalog-sidebar__item
                        input(class="catalog-sidebar__accordeon-fake" id="catalog-sidebar-size" type="checkbox")
                        label(class="catalog-sidebar__accordeon-img" for="catalog-sidebar-size") Размер
                        .catalog-sidebar__item-hidden
                            .row.che-flexible
                                .my_input_group.col-xs-6
                                    input#catalog-sidebar-size__46-48(type="checkbox")
                                    label(for="catalog-sidebar-size__46-48") 46-48
                                .my_input_group.col-xs-6
                                    input#catalog-sidebar-size__28(type="checkbox")
                                    label(for="catalog-sidebar-size__28") 28
                                .my_input_group.col-xs-6
                                    input#catalog-sidebar-size__28-30(type="checkbox")
                                    label(for="catalog-sidebar-size__28-30") 28-30
                                .my_input_group.col-xs-6
                                    input#catalog-sidebar-size__30(type="checkbox")
                                    label(for="catalog-sidebar-size__30") 30
                                .my_input_group.col-xs-6
                                    input#catalog-sidebar-size__32-34(type="checkbox")
                                    label(for="catalog-sidebar-size__32-34") 32-34
                                .my_input_group.col-xs-6
                                    input#catalog-sidebar-size__37(type="checkbox")
                                    label(for="catalog-sidebar-size__37") 37
                                .my_input_group.col-xs-12
                                    input#catalog-sidebar-size__52-56(type="checkbox")
                                    label(for="catalog-sidebar-size__52-56") единый 52-56
                                .my_input_group.col-xs-12
                                    input#catalog-sidebar-size_57-59(type="checkbox")
                                    label(for="catalog-sidebar-size_57-59") единый 57-59
                                .my_input_group.col-xs-12
                                    input#catalog-sidebar-size__universal(type="checkbox")
                                    label(for="catalog-sidebar-size__universal") универсальный

                    .catalog-sidebar__item
                        input(class="catalog-sidebar__accordeon-fake" id="catalog-sidebar-outlet" type="checkbox")
                        label(class="catalog-sidebar__accordeon-img" for="catalog-sidebar-outlet") Аутлет
                        .catalog-sidebar__item-hidden
                            .my_input_group
                                input#catalog-sidebar-outlet__70(type="checkbox")
                                label(for="catalog-sidebar-outlet__70") -70%
                                    span (1)
                            .my_input_group
                                input#catalog-sidebar-outlet__50(type="checkbox")
                                label(for="catalog-sidebar-outlet__50") -50%
                                    span (7)
                            .my_input_group
                                input#catalog-sidebar-outlet__40(type="checkbox")
                                label(for="catalog-sidebar-outlet__40") -40%
                                    span (19)
                            .my_input_group
                                input#catalog-sidebar-outlet__30(type="checkbox")
                                label(for="catalog-sidebar-outlet__30") -30%
                                    span (16)

                .catalog-blocks-container.col-xs-12.col-md-8.col-md-pull-4.col-lg-9.col-lg-pull-3
                    .row.che-flexible
                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_1.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b 500

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b 500

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить

                        .col-xs-12.col-sm-6.col-lg-4
                            .catalog-blocks-container__block
                                img.img-responsive(src="./public/img/catalog_img_2.jpg")
                                button.catalog-blocks-container__block__wishlist
                                .catalog-blocks-container__block__bottom.che-flexible__child
                                    .catalog-blocks-container__block__title платье SbS 71193
                                    .catalog-blocks-container__block__rozn розн.: 2500
                                    .catalog-blocks-container__block__opt опт.:
                                        b
                                            a(href="#") Узнать

                                .catalog-blocks-container__block__hover-container.che-flexible
                                    .my_input_group
                                        label.che-flexible__child
                                            span Размер
                                            select.catalog-blocks-container__block__size.form-control
                                                option X
                                                option M
                                                option L
                                                option XL
                                    .my_input_group
                                        label.che-flexible__child
                                            span Кол-во
                                            input.catalog-blocks-container__block__quantity.form-control(type="number" value="1" pattern="[0-9]*" inputmode="numeric")
                                    .my_input_group
                                        a.btn.btn-info.catalog-blocks-container__block__details(href="#").che-flexible
                                            span Подробнее
                                    .my_input_group
                                        button.btn.btn-success.catalog-blocks-container__block__details Купить
