extends layout/layout.jade

block content
    .modal-windows.hidden
        .modal-windows__background

        .modal-windows__window.modal-windows__window-sing-in.hidden
            button.close.modal-windows__window-close(type="button" aria-label="Close")
                span(aria-hidden="true") &times;

            .modal-windows__window-title.modal-windows__window-form-group Чат с оператором, пожалуйста, заполните форму:

            .modal-windows__window-form-group
                label(for="modal-windows__window-sing-in-input") Имя
                input#modal-windows__window-sing-in-input.form-control(type="text")

            .modal-windows__window-form-group
                button.btn.btn-default.btn-transparent#modal-windows__window-sing-in-button Продолжить

                .modal-windows__window-sing-in-reminder Входя в чат с одного компьютера, Вы сможете просмотреть Вашу переписку с оператором
                    span.glyphicon.glyphicon-exclamation-sign.modal-windows__window-sing-in-reminder-icon

        .modal-windows__window.modal-windows__window-dialog.hidden
            button.close.modal-windows__window-close(type="button" aria-label="Close")
                span(aria-hidden="true") &times;

            .modal-windows__window-title.modal-windows__window-form-group Чат с оператором

            .modal-windows__window-form-group.modal-windows__window-dialog-bubbles-container
                .modal-windows__window-dialog-bubble.modal-windows__window-dialog-bubble-user Магазин просто супер!Качество вещей на высшем уровне.Спасибо Ва...  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime molestias quidem error nemo sunt cum consequatur ducimus, aut necessitatibus. Officia ratione similique est nam labore assumenda, odio quia expedita praesentium.

                .modal-windows__window-dialog-bubble.modal-windows__window-dialog-bubble-admin Магазин просто супер!Качество вещей на высшем уровне.Спасибо  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eum, obcaecati est sequi a non recusandae consequuntur voluptatum dolores rerum reiciendis doloremque tempora atque cumque molestiae dolor, amet itaque porro.

            .modal-windows__window-form-group
                .modal-windows__window-smiles-container.che-flexible
                    button.btn.btn-link.modal-windows__window-smile
                        img(src="./public/img/img_smile.png")
                    button.btn.btn-link.modal-windows__window-smile
                        img(src="./public/img/img_smile.png")
                    button.btn.btn-link.modal-windows__window-smile
                        img(src="./public/img/img_smile.png")
                    button.btn.btn-link.modal-windows__window-smile
                        img(src="./public/img/img_smile.png")
                    button.btn.btn-link.modal-windows__window-smile
                        img(src="./public/img/img_smile.png")
                    button.btn.btn-link.modal-windows__window-smile
                        img(src="./public/img/img_smile.png")

                .form-group.modal-windows__window-dialog-your-message
                    label(for="modal-windows__window-dialog-textarea") Ваш вопрос:
                    textarea#modal-windows__window-dialog-textarea.form-control

            .modal-windows__window-form-group
                button.btn.btn-default.btn-transparent#modal-windows__window-dialog-send-button Отправить

    ul.side-menu.list-unstyled
        li.side-menu__list-item
            a(href="#").che-flexible
                span.side-menu__list-item-title ДОБАВИТЬ ОТЗЫВ
                span.side-menu__list-item-icon.side-menu__list-item-icon_speech
        li.side-menu__list-item
             a(href="#").che-flexible
                span.side-menu__list-item-title ОНЛАЙН ПОМОЩЬ
                span.side-menu__list-item-icon.side-menu__list-item-icon_question
        li.side-menu__list-item
            a(href="#").che-flexible
                span.side-menu__list-item-title ВИШЛИСТ
                span.side-menu__list-item-icon.side-menu__list-item-icon_heart
        li.side-menu__list-item
            a(href="#").che-flexible
                span.side-menu__list-item-title КОРЗИНА
                span.side-menu__list-item-icon.side-menu__list-item-icon_cart

    .container
        .che-main.text-center
            .head-quotes-block.text-center.hidden-xs.clearfix
                .head-quotes-block__text.col-xs-10.col-xs-push-1
                    p.head-quotes-block__paragraph Приветствуем Вас, наши друзья и партнёры! В нашем on-line магазине Вы можете оставлять свои отзывы о его работе. Мы с больщим удовольствием будем прислушиваться к Вашим оценкам и пожеланиям. Также просим Вас оставлять информацию о себе (достаточно Вашего e-mail), для того чтобы наши будущие партнёры, которые только планируют начинать с нами работать могли с Вами связатья и удостовериться в нашей компетентности.

                    p.head-quotes-block__paragraph Желаем Вам успех и процветания!

                    p.head-quotes-block__paragraph.head-quotes-block__title С уважением, ген. директор Chechelyka.com Герасименко Сергей Александрович.

            .feedback-container
                .feedback-container__top.text-center
                    .feedback-container__title Отзывы покупателей
                    button.feedback-container__add-feedback-button.btn.btn-info добавьте ваш отзыв

                .feedback-container__block-container
                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_user-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-date 18 Oct 2016 13:52:08
                                .feedback-container__block-top-part.feedback-container__block-sender Татьяна, Москва
                                .feedback-container__block-top-part.feedback-container__block-rating Оценка магазина:
                                    b отлично!

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_admin-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-sender Администратор

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_user-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-date 18 Oct 2016 13:52:08
                                .feedback-container__block-top-part.feedback-container__block-sender Татьяна, Москва
                                .feedback-container__block-top-part.feedback-container__block-rating Оценка магазина:
                                    b отлично!

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_admin-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-sender Администратор

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_user-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-date 18 Oct 2016 13:52:08
                                .feedback-container__block-top-part.feedback-container__block-sender Татьяна, Москва
                                .feedback-container__block-top-part.feedback-container__block-rating Оценка магазина:
                                    b отлично!

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                    .clearfix.feedback-container__block
                        .feedback-container__block-inner.feedback-container__block_admin-comment
                            .feedback-container__block-top.che-flexible
                                .feedback-container__block-top-part.feedback-container__block-sender Администратор

                            .feedback-container__block-bubble Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda esse molestiae, nisi magnam illo error officia unde ad, tempora minus quo, rem praesentium harum expedita, consequatur quia inventore a. Eum.

                .pagination-container
                    .che-flexible
                        .pagination-container__backward.che-flexible__child
                            button.pagination-container__first-button.che-flexible.che-flexible-btn-cenetring
                            button.pagination-container__prev-button.che-flexible.che-flexible-btn-cenetring

                        .pagination-container__pages.che-flexible__child
                            button.pagination-container__number-button.active 1
                            button.pagination-container__number-button 2
                            button.pagination-container__number-button 3
                            span.pagination-container__number-button.che-flexible.che-flexible-btn-cenetring
                                span ...
                            button.pagination-container__number-button 263

                        .pagination-container__forward.che-flexible__child
                            button.pagination-container__next-button.che-flexible.che-flexible-btn-cenetring
                            button.pagination-container__last-button.che-flexible.che-flexible-btn-cenetring

                        .pagination-container__custom-page.che-flexible__child
                            input.form-control.pagination-container__custom-page-input(type="number" pattern="[0-9]*" inputmode="numeric")
                            button.btn.btn-default-dark.btn-info.pagination-container__custom-page-button Перейти
