extends layout/layout.jade

block content
	.container
		.row
			.che-main.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row.che-flexible
					.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12.che-flexible__child
						.che-main__block

					.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.che-flexible__child
						.che-main__block

						.che-main__block
	
				.row.che-flexible
					.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
						.che-main__block

					.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12
						.che-main__block
				
				.row.che-flexible
					.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12
						.che-main__block

					.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
						.che-main__block
