extends layout/layout.jade

block content
    .container
        .row
            .che-main.col-xs-12
                .row.che-flexible
                    .col-md-8.col-xs-12.che-flexible__child
                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_1.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title
                                    span.che-main__block-title-display-inline-block.
                                        Коллекция

                    .col-md-4.col-xs-12.che-flexible__child
                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_2.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title
                                    span.che-main__block-title-display-inline-block.
                                        Аукцион

                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_3.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title
                                    span.che-main__block-title-display-inline-block.
                                        Шубки

                .row.che-flexible
                    .col-md-4.col-xs-12
                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_4.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title
                                    span.che-main__block-title-display-inline-block.
                                        Вязаные изделия

                    .col-md-8.col-xs-12
                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_5.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title
                                    span.che-main__block-title-display-inline-block.
                                        Вехняя одежда

                .row.che-flexible
                    .col-md-8.col-xs-12
                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_6.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title.sale
                                    span.che-main__block-title-display-inline-block.
                                        Sale

                    .col-md-4.col-xs-12
                        .che-main__block
                            img.img-responsive(src="./public/img/main_img_7.jpg")
                            .che-main__block-tilte-container
                                .che-main__block-title
                                    span.che-main__block-title-display-inline-block.
                                        Обувь
