extends layout/layout.jade

block content
    .container
        .che-main
            .row
               .col-xl-12.col-lg-12.com-sm-12.col-xs-12.col-md-12
                    .che-text-page
                        h1.che-text-page__title Общие условия продаж
                    .che-text-page__description
                        h3 Принятие заказа:
                        ol
                            li В Вашей корзине находятся выбранные Вами для заказа товары.
                            li При осуществлении заказа Вы должны будете предоставить верную информацию, необходимую для выставления счета и доставки товаров. В случае ошибки в указанном адресе доставки Chechelyka не несет ответственности за отсутствие возможности доставить покупку.
                            li Вы получаете автоматическое уведомление по электронной почте с подтверждением обработки заказа (при условии, что Ваш e-mail, указанный при регистрации, не содержит ошибок.) Следующим уведомлением будут реквизиты и сумма для оплаты Вашего заказа.
                            li Сбор заказа составляет от 5 до 10 дней, с момента оплаты.
                        h3 Условия доставки:
                        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                        h3 Просто таблица:
                        table
                            tr 
                                th Цена 
                                th Размер 
                                th Размер 
                                th Размер 
                                th Размер 
                            tr 
                                td Цена 
                                td Размер 
                                td Размер 
                                td Размер 
                                td Размер
                            tr 
                                td Цена 
                                td Размер 
                                td Размер 
                                td Размер 
                                td Размер

