.row-fluid.che-footer
        .container
            .row
                .che-footer__inner.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .che-footer__item.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        h2.che-footer__title поддержка клиентов
                        input(class="che-footer__accordeon-fake" id="che-support" type="checkbox")
                        label(class="che-footer__accordeon-img" for="che-support")
                        .che-footer__item-link
                            a(href="") Общие условия продаж
                            a(href="") Правовая информация
                            a(href="") Безопасная оплата
                            a(href="") Возврат и обмен товара
                    .che-footer__item.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        h2.che-footer__title бизнес с нами
                        input(class="che-footer__accordeon-fake" id="che-business" type="checkbox")
                        label(class="che-footer__accordeon-img" for="che-business")
                        .che-footer__item-link
                            a(href="") Партнёрская программа
                            a(href="") Архивы фото
                            a(href="") Разработчикам / API

                    .che-footer__item.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        h2.che-footer__title мы в соц.сетях:
                        .che-footer__social
                            a.che-footer__social-fb(href="")
                            a.che-footer__social-ins(href="")
                            a.che-footer__social-vk(href="")
                            a.che-footer__social-o(href="")

                    .che-footer__item.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        h2.che-footer__title подписаться на рассылку
                        .input-group.footer__subscrtibe
                            input.form-control(type='text', placeholder='')
                            span.input-group-btn
                                button.btn.btn-default-black(type='button') OK
.container-fluid.che-development
        .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.che-footer-development
                a(href="http://4side.in.ua")
                    img(src="public/img/development1-01.svg", alt="")

