.container-fliud.che-background
	.che-header
		a.che-header__logo-link(href="/")
			img(class="che-header__logo" src="public/img/logo_chechelyka.png", alt="")
			p.che-header__title 
				| ... ЧЕЧЕЛ
				span
					| Ю
				| КА ЧЕЧЕЛ
				span
					|Ю
				|КА ЧЕЧЕЛ
				span
					| Ю
				|КА ТРРРР-Р-Р-Р ...
			p.che-header__title-hover Производство красивой молодежной одежды