.container-fluid.che-menu
	.row
		.container
			.che-menu__inner.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
				input(type="checkbox" id="che-menu__changed" class="che-menu__mobile-hide")
				label(for="che-menu__changed").che-menu__list-button-mobile
				ul.che-menu__list
					li.che-menu__item
						a(href="").che-active Главная
					li.che-menu__item
						a(href="") Каталог
					li.che-menu__item
						a(href="") Отзывы
					li.che-menu__item
						a(href="") Оплата и доставка
					li.che-menu__item
						a(href="") Контакты
				.che-search
					form.che-search__form(action="")
						input.form-control(type='text', placeholder='Поиск...')
						span.che-search__input-ico