.modal-window.modal-window__window-send-order.hidden
    button.close.modal-window__window-close(type="button" aria-label="Close")
        span(aria-hidden="true") &times;

    .modal-window__window-title.modal-window__window-form-group Для отправки заказа, пожалуйста, заполните форму:

    .modal-window__window-form-group
        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-country-select") Страна
            select#modal-window__window-send-order-country-select.modal-window__window-send-order-input.form-control
                option Россия
                option Белорусия
                option Казахстан

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-city-input") Город
            input#modal-window__window-send-order-city-input.modal-window__window-send-order-input.form-control(type="text")

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-full-name-input") ФИО
            input#modal-window__window-send-order-full-name-input.modal-window__window-send-order-input.form-control(type="text")

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-email-input") E-mail
            input#modal-window__window-send-order-email-input.modal-window__window-send-order-input.form-control(type="email")

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-phone-input") Телефон
            input#modal-window__window-send-order-phone-input.modal-window__window-send-order-input.form-control(type="tel")

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-storage-input") Склад
            input#modal-window__window-send-order-storage-input.modal-window__window-send-order-input.form-control(type="text")

        .modal-window__window-title.modal-window__window-send-order-subtitle Менеджер, с помощью которого вы сделали заказ:

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-manager-select") Менеджер
            select#modal-window__window-send-order-manager-select.modal-window__window-send-order-input.form-control
                option Без помощи менеджера

        .che-flexible
            label.modal-window__window-send-order-label(for="modal-window__window-send-order-textarea") Ваш отзыв
            textarea#modal-window__window-send-order-textarea.modal-window__window-send-order-input.form-control

    .modal-window__window-form-group
        button.btn.btn-default-dark.btn-transparent#modal-window__window-send-order-button Оформить заказ
