ul.side-menu.list-unstyled
    li.side-menu__list-item
        a(href="#").che-flexible
            span.side-menu__list-item-title ДОБАВИТЬ ОТЗЫВ
            span.side-menu__list-item-icon.side-menu__list-item-icon_speech
    li.side-menu__list-item
         a(href="#").che-flexible
            span.side-menu__list-item-title ОНЛАЙН ПОМОЩЬ
            span.side-menu__list-item-icon.side-menu__list-item-icon_question
    li.side-menu__list-item
        a(href="#").che-flexible
            span.side-menu__list-item-title ВИШЛИСТ
            span.side-menu__list-item-icon.side-menu__list-item-icon_heart
    li.side-menu__list-item
        a(href="#").che-flexible
            span.side-menu__list-item-title КОРЗИНА
            span.side-menu__list-item-icon.side-menu__list-item-icon_cart
