.container-fliud.che-background
	.che-header
		a.che-header__logo-link(href="/")
			img(class="che-header__logo" src="public/img/logo_chechelyka.png", alt="")
			p.che-header__title оптовый online-магазин
