.cart
    padding 35px 0 25px

.cart_table-container
    background #efe7e7
    margin-top 42px

.cart_table-responsive-container
    margin-top -42px

.cart_table-responsive
    border none
    margin-bottom 0

.cart_table
    margin-bottom 0

.cart_table.table>thead>tr>td
    vertical-align middle
    padding 0 20px
    height 42px
    font-family RobotoLight, sans-serif
    font-size 14px
    color #242424
    white-space nowrap

.cart_table.table>thead>tr>td.cart_product-id-title
    padding-left 0

.cart_table.table>thead>tr>td.cart_product-remove-title
    padding-right 0

.cart_table.table>tbody>tr>td
    vertical-align middle
    border-top none
    border-bottom 1px solid #fff
    padding 20px 20px

.cart_table.table>tbody>tr>td.cart_product-id
    padding-left 0
    font-family Roboto, sans-serif
    font-weight 500
    font-size 14px
    color #242424

.cart_table.table>tbody>tr>td.cart_product-image
    width 175px
    min-width 175px
    padding-right 35px
    padding-left 35px

.cart_table.table>tbody>tr>td.cart_product-info
    font-family Roboto, sans-serif
    font-weight 500
    font-size 14px
    color #242424

.cart_table.table>tbody>tr>td.cart_product-price
    font-family Roboto, sans-serif
    font-weight 700
    font-size 24px
    color #242424

.cart_product-count-input
    width 45px
    height 45px
    text-align center
    font-family Roboto, sans-serif
    font-weight 700
    border-radius 0
    font-size 18px
    background none
    color black
    border 1px solid #a7abc3
    padding 0

.cart_table.table>tbody>tr>td.cart_product-price-total
    font-family Roboto, sans-serif
    font-weight 700
    font-size 24px
    color #242424

.cart_table.table>tbody>tr>td.cart_product-remove
    padding-right 0

@media screen and (max-width: 767px)
    .cart_table-responsive-container
        margin-left -15px
        margin-right -15px

    .cart_table-responsive
        padding 0 15px

.order-info
    background #2e2d2d
    color #fff
    padding 20px
    text-align center
    margin-bottom 10px

.order-info_title
    font-family RobotoLight, sans-serif
    font-size 14px

.order-info_value
    font-family Roboto, sans-serif
    font-weight 500
    font-size 24px

.cart-button-container
    justify-content flex-end
    margin-bottom 45px

.cart-button-container_button
    width 100%
    margin 10px 0

@media screen and (max-width: 767px)
    .cart-button-container_button
        max-width 250px
