.filters-panel
    padding 10px 0 0

.filters-panel__block
    margin-bottom 10px

.filters-panel__images_count>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.my_input_group > .my_input_group 
    padding 10px 0px 0 30px

.filters-panel__btn-square
    width 45px
    height 45px
    background none
    border 1px solid lgrey
    padding 0
    background-repeat no-repeat
    background-position center center

.filters-panel__images_count select
    appearance none
    width 45px
    height 45px
    text-align center
    font-family RobotoRegular, sans-serif
    font-size 18px
    border 1px solid lgrey
    padding 0
    text-align-last center
    margin-left 10px
    border-radius 0

.filters-panel__veiw>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__arrivals > span 
    display inline-block
    font-size 12px
    text-align left
    font-family RobotoLight, sans-serif

.filters-panel__block-first-title
    margin-right 5px
    
.filters-panel__block-last-title
    margin-left 5px

.filters-panel__arrivals .btn-number
    margin 0 5px


.filters-panel__veiw .filters-panel__btn-square
    margin-left 10px

.filters-panel__veiw .fullzise
    background-image url(../img/icon_view_1.png)

.filters-panel__veiw .halfsize
    background-image url(../img/icon_view_2.png)

.filters-panel__veiw .thirdsize
    background-image url(../img/icon_view_3.png)

.filters-panel__price>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__price .filters-panel__btn-square
    font-family RobotoLight, sans-serif
    font-size 12px
    margin-left 10px

.filters-panel__price .filters-panel__btn-square span
    display block

.filters-panel__price .filters-panel__price__clear
    width 25px
    height 25px
    background-image url(../img/icon_sort_clear.png)

.filters-panel__price-type>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__price-type .filters-panel__btn-square
    font-family RobotoLight, sans-serif
    font-size 12px
    margin-left 10px

.filters-panel__sizes>span
    display inline-block
    font-size 12px
    text-align right
    width 65px
    font-family RobotoLight, sans-serif

.filters-panel__sizes .filters-panel__btn-square
    margin-left 10px
    background-image url(../img/icon_ruler.png)

.catalog-sidebar
    margin-bottom 30px

.catalog-sidebar__item
    padding 15px

.catalog-sidebar__item + .catalog-sidebar__item
    margin-top 1px

.catalog-sidebar__accordeon-fake
    position absolute
    opacity 0
    clip rect(0, 0, 0, 0)

.catalog-sidebar__item-hidden
    height 0
    display none
    margin-top 15px

.catalog-sidebar__accordeon-fake:checked + .catalog-sidebar__accordeon-img + .catalog-sidebar__item-hidden
    height auto
    display block

.catalog-sidebar__accordeon-img
    width 100%
    font-family RobotoLight
    color #000
    position relative
    cursor pointer
    font-weight 400
    &:after
        content ""
        position absolute
        display block
        width 9px
        height 9px
        border-left 1px solid dgrey
        border-bottom 1px solid dgrey
        right 3px
        top 3px
        transform rotate(-135deg)

.catalog-sidebar__accordeon-img:hover
    color reds

.catalog-sidebar__accordeon-fake:checked + .catalog-sidebar__accordeon-img:after
    transform rotate(-45deg)

.catalog-sidebar__accordeon-img span
    font-family RobotoLight, sans-serif
    color lgrey
    margin-left 5px

.catalog-sidebar__item-hidden input[type="checkbox"]
    position absolute
    opacity 0
    clip rect(0, 0, 0, 0)

.catalog-sidebar__item-hidden input[type="checkbox"]+label
    padding 0 0 0 20px
    font-family RobotoLight
    color dgrey
    position relative
    cursor pointer
    font-weight 400

.catalog-sidebar__item-hidden input[type="checkbox"]+label:hover
    color reds

.catalog-sidebar__item-hidden input[type="checkbox"]+label:before
    content ""
    display block
    width 15px
    height 15px
    border 1px solid lgrey
    top 0
    left 0
    position absolute

.catalog-sidebar__item-hidden input[type="checkbox"]:checked+label:before
    border-color #1aafec
    background #1aafec

.catalog-sidebar__item-hidden input[type="checkbox"]+label:after
    content ""
    display block
    width: 11px;
    height: 6px;
    border-left 1px solid #fff
    border-bottom 1px solid #fff
    top: 3px;
    left: 2px;
    position absolute
    transform rotate(-50deg)
    opacity 0

.catalog-sidebar__item-hidden input[type="checkbox"]:checked+label:after
    opacity 1

.catalog-sidebar__item-hidden input[type="checkbox"]+label .catalog-sidebar__label-suffix
    color lgrey

.catalog-sidebar__label-hover
    position fixed
    bottom 10px
    right 70px
    background fblue
    color #fff
    padding 15px
    white-space nowrap
    border-radius 0px
    z-index 10
    font-family RobotoLight, sans-serif
    font-size 14px

.catalog-sidebar__label-hover a
    font-family Roboto, sans-serif
    font-weight 700
    text-transform uppercase
    font-size 14px

.catalog-sidebar__item-hidden input[type="checkbox"]+label:hover .catalog-sidebar__label-hover
    display block
    
.che-responsive-action-view
    padding 0 50px

.my_input_group
    padding-top 5px
    padding-bottom 5px

.catalog-sidebar-price-limit-container .che-flexible__child
    justify-content flex-start

.catalog-sidebar-price-limit-container .che-flexible__child + .che-flexible__child
    justify-content flex-end

.catalog-sidebar-price-limit-container .che-flexible__child label
    margin-right 10px
    padding 10px 0
    font-weight 400

#catalog-sidebar__price-lowest,
#catalog-sidebar__price-highest
    width 60px
    border 1px solid lgrey
    text-align center

#catalog-sidebar__price-confirm
    width 100%
    margin-top 10px

#catalog-sidebar__reset-all
    width 80%
    margin 30px auto 15px
    display table
    padding 11px

.catalog-sidebar__selected-categories
    padding 15px

.catalog-sidebar__selected-categories__remove
    border none
    background none
    display inline-block
    width 15px
    height 15px
    position relative
    cursor pointer
    margin-right 6px

.catalog-sidebar__selected-categories__remove:before,
.catalog-sidebar__selected-categories__remove:after
    content ""
    position absolute
    display block
    top 50%
    left 0
    width 100%
    border-bottom 1px solid dgrey
    transform rotate(45deg)

.catalog-sidebar__selected-categories__remove:after
    transform rotate(-45deg)

.catalog-sidebar__selected-categories__remove:hover:before,
.catalog-sidebar__selected-categories__remove:hover:after
    border-color reds

.catalog-blocks-container__block__wishlist
    position absolute
    top 10px
    right 10px
    width 35px
    height 31px
    border none
    background url(../img/button_wishlist.png)
    filter grayscale() brightness(265%)
    &:hover
        filter none
            
.catalog-blocks-container__block__wishlist-active
    position absolute
    top 10px
    right 10px
    width 35px
    height 31px
    border none
    background url(../img/button_wishlist.png)

.catalog-blocks-container__block__bottom
    position absolute
    width 100%
    background #e6e6e6
    bottom 0
    left 0
    color #000
    padding 10px 15px
    text-align center
    display flex
    justify-content space-between
    z-index 10

.catalog-blocks-container__block__title
    width 100%
    text-transform uppercase
    margin-bottom 15px
    font-size 16px
    font-family RobotoRegular, sans-serif
    color #fff

.catalog-blocks-container__block__rozn, .catalog-blocks-container__block__opt, .catalog-blocks-container__block__opt b
    font-family RobotoLight, sans-serif
    font-size 14px

.catalog-blocks-container__block__opt b a
    text-transform uppercase
    text-decoration underline
    font-size 14px
    
.catalog-blocks-container__block.che-min .catalog-blocks-container__block__rozn,
.catalog-blocks-container__block.che-min .catalog-blocks-container__block__opt,
.catalog-blocks-container__block.che-min .catalog-blocks-container__block__opt b,
.catalog-blocks-container__block.che-min .catalog-blocks-container__block__opt b a
    font-family RobotoLight, sans-serif
    font-size 9px
    
.catalog-blocks-container__block.che-min .catalog-blocks-container__block__bottom
    padding 10px 5px
    

.catalog-blocks-container__block.che-full, .catalog-blocks-container__block.che-medium
    &:hover 
        .catalog-blocks-container__block__bottom-inner-container
            bottom 34px

.catalog-blocks-container__block__bottom-inner-container
    width 100%
    position absolute
    background rgba(0,0,0, .6)
    padding 20px 5px
    bottom -200px
    transition .3s

.che-input-flex-wrapper
    display flex
    justify-content space-between
    flex-wrap wrap
    padding 0 10px

.che-input-flex-wrapper .my_input_group
    width 48%

.catalog-blocks-container__block__bottom-inner-container .my_input_group label
    width 100%
    border 1px solid white

.catalog-blocks-container__block__bottom-inner-container .my_input_group label span
    font-family RobotoLight, sans-serif
    font-size 12px
    width 50%
    color #fff

.catalog-blocks-container__block__size
    appearance none
    width 50%
    height 45px
    text-align center
    font-family RobotoLight
    border-radius 0
    font-size 13px
    background white
    color black
    border 1px solid white
    margin -1px -1px -1px 0
    padding 0 2px
    text-align-last center

.catalog-blocks-container__block__quantity
    width 50%
    height 45px
    text-align center
    font-family RobotoLight
    border-radius 0
    font-size 13px
    background white
    color black
    border 1px solid white
    margin -1px -1px -1px 0
    padding 0

.catalog-blocks-container__block__details
    width 100%
    padding 0

.pagination-container
    margin-right -10px
    display inline-block;

.pagination-container__backward
.pagination-container__pages
.pagination-container__forward
.pagination-container__custom-page
    flex-wrap nowrap
    margin-bottom 15px
    margin-right 10px

.pagination-container__first-button
.pagination-container__prev-button
.pagination-container__next-button
.pagination-container__last-button
    height 45px
    width 45px
    background none
    overflow hidden
    &:before
        content ""
        display block
        width 10px
        height 10px
        transform rotate(45deg);
        border-left 1px solid #9a9a9a
        border-bottom 1px solid #9a9a9a
    &:hover:before, &:hover:after
        border-color reds

.pagination-container__first-button
.pagination-container__last-button
    &:after
        content ""
        display block
        width 10px
        height 10px
        transform rotate(45deg);
        border-left 1px solid #9a9a9a
        border-bottom 1px solid #9a9a9a

.pagination-container__next-button
.pagination-container__last-button
    &:before, &:after
        transform rotate(-135deg);

.pagination-container__number-button
    font-size 16px
    padding 15px 0
    height 45px
    width 45px
    color #9a9a9a
    background none
    &:hover
        color reds
    &.active
        color reds
        border 1px solid reds

.pagination-container__custom-page-input
    width 55px
    border 1px solid #9a9a9a
    text-align center
    border-radius 0
    margin-right 10px

.pagination-container__custom-page-button
    padding 12px 20px
    
.che-unfiltered-or-checked
    position relative

.catalog-blocks-container__block
    position relative
    overflow hidden
    margin 15px auto
    
.catalog-blocks-container__block .img-responsive
    width 100%

.catalog-blocks-container__block.che-full
    width 320px
  
.catalog-blocks-container__block.che-medium
    width 250px
    
.catalog-blocks-container__block.che-min
    width 150px
    

.che-filters-fixed
    position fixed 
    width 350px
    right -345px
    height 100%
    background #fff 
    border-width 0 0 0 4px 
    border-style solid
    border-color #fc392b
    transition .5s ease
    top 0
    z-index 996
    
.che-filters-wrapper-accordeon
    overflow auto
    height calc(100% - 105px)
    width 106%
    position absolute
    
.che-filters-wrapper-accordeon-inner
    width 95%
    
.che-filters-fixed.che-show-filters
    right 0px

.btn-vertical-red
    position absolute
    width 40px
    left -40px
    top 50%
    margin-top -110px
    height 220px
    background url('../img/sprite_chechelyka.png') -442px 0

.che-show-filters .btn-vertical-red  
    background url('../img/sprite_chechelyka.png') -481px 0 


.che-catalog-title-all-item
    padding 20px 0
    font-family RobotoLight
    fint-size 16px
        
@media screen and (min-width 850px) and (max-width 980px)
    .catalog-blocks-container__block.che-full
        width 30%
        

@media screen and (min-width 420px) and (max-width 560px)
    .catalog-blocks-container__block.che-full
        width 95%
        
    .catalog-blocks-container__block.che-medium
        width 45%
        
    .catalog-blocks-container__block.che-min
        width 45%
        
@media screen and (max-width 419px)
    .catalog-blocks-container__block.che-full
        width 95%

    .catalog-blocks-container__block.che-medium
        width 95%

    .catalog-blocks-container__block.che-min
        width 95%