.filters-panel
    padding 10px 0 0

.filters-panel__block
    margin-bottom 10px

.filters-panel__images_count>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__btn-square
    width 45px
    height 45px
    background none
    border 1px solid lgrey
    padding 0
    background-repeat no-repeat
    background-position center center

.filters-panel__images_count select
    appearance none
    width 45px
    height 45px
    text-align center
    font-family RobotoRegular, sans-serif
    font-size 18px
    border 1px solid lgrey
    padding 0
    text-align-last center
    margin-left 10px
    border-radius 0

.filters-panel__veiw>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__veiw .filters-panel__btn-square
    margin-left 10px

.filters-panel__veiw .fullzise
    background-image url(../img/icon_view_1.png)

.filters-panel__veiw .halfsize
    background-image url(../img/icon_view_2.png)

.filters-panel__veiw .thirdsize
    background-image url(../img/icon_view_3.png)

.filters-panel__price>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__price .filters-panel__btn-square
    font-family RobotoLight, sans-serif
    font-size 12px
    margin-left 10px

.filters-panel__price .filters-panel__btn-square span
    display block

.filters-panel__price .filters-panel__price__clear
    width 25px
    height 25px
    background-image url(../img/icon_sort_clear.png)

.filters-panel__price-type>span
    display inline-block
    font-size 12px
    text-align right
    width 45px
    font-family RobotoLight, sans-serif

.filters-panel__price-type .filters-panel__btn-square
    font-family RobotoLight, sans-serif
    font-size 12px
    margin-left 10px

.filters-panel__sizes>span
    display inline-block
    font-size 12px
    text-align right
    width 65px
    font-family RobotoLight, sans-serif

.filters-panel__sizes .filters-panel__btn-square
    margin-left 10px
    background-image url(../img/icon_ruler.png)

.catalog-sidebar
    margin-bottom 30px

.catalog-sidebar__item
    padding 15px
    background #f1e8f0

.catalog-sidebar__item + .catalog-sidebar__item
    margin-top 1px

.catalog-sidebar__accordeon-fake
    position absolute
    opacity 0
    clip rect(0, 0, 0, 0)

.catalog-sidebar__item-hidden
    height 0
    overflow hidden
    display none
    margin-top 15px

.catalog-sidebar__accordeon-fake:checked + .catalog-sidebar__accordeon-img + .catalog-sidebar__item-hidden
    height auto
    display block

.catalog-sidebar__accordeon-img
    width 100%
    font-family RobotoRegular, sans-serif
    color #000
    position relative
    cursor pointer
    &:after
        content ""
        position absolute
        display block
        width 9px
        height 9px
        border-left 1px solid dgrey
        border-bottom 1px solid dgrey
        right 3px
        top 3px
        transform rotate(-135deg)

.catalog-sidebar__accordeon-img:hover
    color reds

.catalog-sidebar__accordeon-fake:checked + .catalog-sidebar__accordeon-img:after
    transform rotate(-45deg)

.catalog-sidebar__accordeon-img span
    font-family RobotoLight, sans-serif
    color lgrey
    margin-left 5px

.catalog-sidebar__item-hidden input[type="checkbox"]
    position absolute
    opacity 0
    clip rect(0, 0, 0, 0)

.catalog-sidebar__item-hidden input[type="checkbox"]+label
    padding 0 0 0 20px
    font-family RobotoLight, sans-serif
    color dgrey
    position relative
    cursor pointer

.catalog-sidebar__item-hidden input[type="checkbox"]+label:hover
    color reds

.catalog-sidebar__item-hidden input[type="checkbox"]+label:before
    content ""
    display block
    width 15px
    height 15px
    border 1px solid lgrey
    top 0
    left 0
    position absolute

.catalog-sidebar__item-hidden input[type="checkbox"]:checked+label:before
    border-color #1aafec
    background #1aafec

.catalog-sidebar__item-hidden input[type="checkbox"]+label:after
    content ""
    display block
    width: 11px;
    height: 6px;
    border-left 1px solid #fff
    border-bottom 1px solid #fff
    top: 3px;
    left: 2px;
    position absolute
    transform rotate(-50deg)
    opacity 0

.catalog-sidebar__item-hidden input[type="checkbox"]:checked+label:after
    opacity 1

.catalog-sidebar__item-hidden input[type="checkbox"]+label .catalog-sidebar__label-suffix
    color lgrey

.catalog-sidebar__label-hover
    position absolute
    color #fff
    background fblue
    padding 15px
    border-radius 10px
    top 0
    left 0

.my_input_group
    padding-top 5px
    padding-bottom 5px

.catalog-sidebar-price-limit-container .che-flexible__child
    justify-content flex-start

.catalog-sidebar-price-limit-container .che-flexible__child + .che-flexible__child
    justify-content flex-end

.catalog-sidebar-price-limit-container .che-flexible__child label
    margin-right 10px
    padding 10px 0

#catalog-sidebar__price-lowest,
#catalog-sidebar__price-highest
    width 60px
    border 1px solid lgrey
    text-align center

#catalog-sidebar__price-confirm
    width 100%
    margin-top 10px

#catalog-sidebar__reset-all
    width 100%
    margin-top 15px

.catalog-sidebar__selected-categories
    padding 15px

.catalog-sidebar__selected-categories__remove
    border none
    background none
    width 15px
    height 15px
    position relative
    cursor pointer
    margin-right 6px

.catalog-sidebar__selected-categories__remove:before,
.catalog-sidebar__selected-categories__remove:after
    content ""
    position absolute
    display block
    top 50%
    left 0
    width 100%
    border-bottom 1px solid dgrey
    transform rotate(45deg)

.catalog-sidebar__selected-categories__remove:after
    transform rotate(-45deg)

.catalog-sidebar__selected-categories__remove:hover:before,
.catalog-sidebar__selected-categories__remove:hover:after
    border-color reds

.catalog-blocks-container__block
    position relative
    overflow hidden
    max-width 263px
    margin 0 auto 30px

@media screen and (min-width 768px) and (max-width 1199px)
    .catalog-blocks-container__block
        max-width none

    .catalog-blocks-container__block .img-responsive
        width 100%

.catalog-blocks-container__block__wishlist
    position absolute
    top 10px
    right 10px
    width 35px
    height 31px
    border none
    background url(../img/button_wishlist.png)
    filter grayscale() brightness(265%)
    &:hover
        filter none

.catalog-blocks-container__block__bottom
    position absolute
    width 100%
    background rgba(51, 51, 51, 0.9)
    bottom 0
    left 0
    color white
    text-align center
    transform translateY(125px)
    transition ease 1s transform

.catalog-blocks-container__block:hover .catalog-blocks-container__block__bottom
    transform translateY(0)

.catalog-blocks-container__block__bottom-inner-container
    padding 15px

.catalog-blocks-container__block__bottom-inner-container + .catalog-blocks-container__block__bottom-inner-container
    padding-top 0

.catalog-blocks-container__block__title
    width 100%
    text-transform uppercase
    margin-bottom 15px
    font-size 16px
    font-family RobotoRegular, sans-serif

.catalog-blocks-container__block__rozn
    font-family RobotoLight, sans-serif
    font-size 14px

.catalog-blocks-container__block__opt
    font-family RobotoLight, sans-serif
    font-size 14px

.catalog-blocks-container__block__opt b
    font-size 16px
    font-family Roboto, sans-serif
    font-weight 700

.catalog-blocks-container__block__opt b a
    text-transform uppercase
    text-decoration underline
    font-size 14px

.catalog-blocks-container__block__bottom-inner-container .my_input_group
    width calc(50% - 6px)
    &:nth-child(odd)
        margin-right 6px
    &:nth-child(even)
        margin-left 6px

.catalog-blocks-container__block__bottom-inner-container .my_input_group label
    width 100%
    border 1px solid white

.catalog-blocks-container__block__bottom-inner-container .my_input_group label span
    font-family RobotoLight, sans-serif
    font-size 12px
    width calc(100% - 45px)

.catalog-blocks-container__block__size
    appearance none
    width 45px
    height 45px
    text-align center
    font-family RobotoRegular, sans-serif
    border-radius 0
    font-size 18px
    background white
    color black
    border 1px solid white
    margin -1px -1px -1px 0
    padding 0
    text-align-last center

.catalog-blocks-container__block__quantity
    width 45px
    height 45px
    text-align center
    font-family RobotoRegular, sans-serif
    border-radius 0
    font-size 18px
    background white
    color black
    border 1px solid white
    margin -1px -1px -1px 0
    padding 0

.catalog-blocks-container__block__details
    width 100%
    padding 0

.pagination-container
    margin-right -10px
    display inline-block;

.pagination-container__backward
.pagination-container__pages
.pagination-container__forward
.pagination-container__custom-page
    flex-wrap nowrap
    margin-bottom 15px
    margin-right 10px

.pagination-container__first-button
.pagination-container__prev-button
.pagination-container__next-button
.pagination-container__last-button
    height 45px
    background none
    overflow hidden
    &:before
        content ""
        display block
        width 10px
        height 10px
        transform rotate(45deg);
        border-left 1px solid #9a9a9a
        border-bottom 1px solid #9a9a9a
    &:hover:before, &:hover:after
        border-color reds

.pagination-container__first-button
.pagination-container__last-button
    &:after
        content ""
        display block
        width 10px
        height 10px
        transform rotate(45deg);
        border-left 1px solid #9a9a9a
        border-bottom 1px solid #9a9a9a

.pagination-container__next-button
.pagination-container__last-button
    &:before, &:after
        transform rotate(-135deg);

.pagination-container__number-button
    height 45px
    width 45px
    color #9a9a9a
    background none
    padding 0
    &:hover
        color reds
    &.active
        color reds
        border 1px solid reds

.pagination-container__custom-page-input
    width 45px
    border 1px solid #9a9a9a
    text-align center
    border-radius 0
    margin-right 10px

.pagination-container__custom-page-button
    padding 0 20px
