.che-area-chat
	border 1px solid #efe7e7
	margin 40px 0
	padding 20px 0

.che-date-chat
	display flex
	align-items center
	justify-content space-between
	padding 10px 0
	flex-wrap wrap

.che-date-chat p 
	font-family RobotoLight
	line-height 22px

.che-client .che-date-chat__message
	background #e6e6e6
	padding 10px 20px
	border-radius 0px

.che-manager .che-date-chat__message
	background #f1e8f0
	padding 10px 20px
	border-radius 0px

.che-date-chat__persone
	text-align cetner
	font-weight 700
	text-transform uppercase
	margin-left 40px
	display inline-block

.che-form-to-send__items
	display flex
	align-items center
	justify-content space-between
	padding-bottom 20px
	flex-wrap wrap

.che-form-item 
	width 100%

.che-form-to-send .btn 
	width 100%