.contacts-title
    font-family Roboto, sans-serif
    font-weight 600
    color #000
    font-size 24px
    text-align center
    text-transform uppercase
    margin-top 35px

.contact-info
    padding-top: 25px;
    padding-bottom: 35px;

.contact-info__block
    padding-top 30px
    padding-bottom 15px
    text-align center

.contact-info__block-icon
    height 27px
    width 27px
    background-position center center
    background-repeat no-repeat
    margin 0 auto 15px

.contact-info__block-icon-address
    background-image url(../img/icon_contact_adress.png)

.contact-info__block-icon-phone
    background-image url(../img/icon_contact_phonebook.png)

.contact-info__block-icon-email
    background-image url(../img/icon_contact_email.png)

.contact-info__block-icon-skype
    background-image url(../img/icon_contact_skype.png)

.contact-info__block-text
    font-family RobotoLight, sans-serif
    color #000
    font-size 16px

.contact-info__block-text-line
    width 100%
    line-height 26px
    font-family RobotoLight, sans-serif
    color #000
    font-size 16px

@media screen and (min-width 768px)
    .contact-info__block-text
        min-height 38px

.contact-persons
    background #2e2d2d

.contact-persons__container-sm
.contact-persons__container-md
.contact-persons__container-lg
    margin-left auto
    margin-right auto

.contact-persons__block
    padding-top 30px
    padding-bottom 44px
    text-align center
    min-height 0
    border-bottom 1px solid #515050

.contact-persons__block-title
    font-family RobotoLight
    font-size 18px
    color #fff
    margin 0px 20px
    line-height normal

.contact-persons__block-name
    font-family Roboto, sans-serif
    font-weight 600
    font-size 14px
    margin-bottom 12px
    line-height normal
    color #fff

.contact-persons__block-content
    text-align center
    line-height 1.4

.contact-persons__block-text-line
    font-family RobotoLight, sans-serif
    font-size 14px
    color #fff

.contact-persons__block-text-line b
    font-family Roboto, sans-serif
    font-weight 600

.contact-persons__info-underlined
    text-decoration underline

@media screen and (min-width 768px)
    .contact-persons__block
        border-bottom none
        padding-bottom 30px
        display flex
        justify-content center
        align-items center

    .contact-persons__block-name
        min-height 35px

@media screen and (min-width 768px) and (max-width 991px)
    .contact-persons__container-sm
        width 750px

    .contact-persons__row
        border-bottom 1px solid #515050

@media screen and (min-width 992px) and (max-width 1199px)
    .contact-persons__container-md
        width 970px

    .contact-persons__row
        border-bottom 1px solid #515050

@media screen and (min-width 1200px)
    .contact-persons__container-lg
        width 1170px

.map-container
    background #fff
    height 400px
