@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:500,700,700i&subset=cyrillic');

@font-face
   font-family RobotoRegular
   font-style normal
   src url('../fonts/Roboto-Regular.ttf')

@font-face
   font-family RobotoLight
   font-style normal
   src url('../fonts/Roboto-Light.ttf')

@font-face
   font-family RobotoThin
   font-style normal
   src url('../fonts/Roboto-Thin.ttf')

@font-face
   font-family RobotoBlack
   font-style normal
   src url('../fonts/Roboto-Black.ttf')
   
@font-face
   font-family RobotoBold
   font-style normal
   src url('../fonts/Roboto-Bold.ttf')

@font-face
   font-family OpenSansLight
   font-style normal
   src url('../fonts/OpenSans-Light.ttf')

html, body
    height 100%

table
    width 100%
    padding 10px
    border-collapse collapse
    
th,td 
    border 1px solid #cdcdcd
    padding 15px

td
    font-family RobotoLight
    
th
    font-family RobotoRegular
    background #f6f6f6
    text-align center

.form-control
    height 45px
    border-radius 0px
    border none
    outline none
    box-shadow none
    &:hover, &:active, &:focus
        outline none
        box-shadow none

.btn
    height 45px
    font-family RobotoLight
    font-weight 400
    font-size 14px
    text-transform uppercase
    padding 0 15px
    letter-spacing 1px
    border-radius 0
    &:hover, &:active, &:focus
        outline none i
        box-shadow none

a.btn
    padding 12px 25px

.btn-default-black
    background #000
    color #fff
    &:hover
        background fblue
        color #fff

button, a, input, textarea, select
    outline none i
    box-shadow none i

button, a, input[type="button"], input[type="submit"], input[type="image"], input[type="checkbox"], input[type="radio"], textarea, select, label
    cursor pointer

input[type="number"]::-webkit-outer-spin-button
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

input[type="number"]
    -moz-appearance textfield

.btn-default-dark
    color black
    border-color black
    background-color transparent
    &:active, &:focus
        color black
        border-color black
        background-color transparent
    &:hover, &:active:hover, &:active:focus
        color black
        border-color black

.btn-default-light
    color white
    border-color white
    background-color transparent
    &:active, &:focus
        color white
        border-color white
        background-color transparent
    &:hover, &:active:hover, &:active:focus
        color white
        border-color white

.btn-transparent
    background-color transparent
    &:hover, &:focus
        background-color rgba(0, 0, 0, 0.05)
    &:active:hover, &:active:focus
        background-color rgba(0, 0, 0, 0.1)

.btn-transparent-light
    background-color transparent
    &:hover, &:focus
        background-color rgba(255, 255, 255, 0.05)
    &:active:hover, &:active:focus
        background-color rgba(255, 255, 255, 0.1)

.btn-info
    &:hover, &:focus
        color white
        background fblue
        border-color #269abc
    &:active:hover, &:active:focus
        color white
        background #269abc
        border-color #1b6d85

.btn-success
    &:hover, &:focus
        color white
        background #32bc34
        border-color #398439
    &:active:hover, &:active:focus
        color white
        background #398439
        border-color #255625

.btn-red
    &:hover
        background reds
        color #fff 
        border 1px solid reds
        
.btn-greens
    &:hover
        background #31bb32
        color #fff 
        border 1px solid #31bb32

.bth-filters-active__opacity
    background-color rgba(0,0,0,.05) i

.che-flexible.che-flexible-btn-cenetring
    justify-content center
    
optgroup
    font-weight 700
    font-size 18px
    text-align center
    
.btn-white
    display table 
    margin 50px auto 0 
    text-transform uppercase
    letter-spacing 2px
    background #fff
    color #595959
    padding 12px 38px
    height initial
    border 1px solid rgba(89, 89, 89, 0.08)
    &:hover
        background transparent
        
.flex-container
    display flex 
    
.flex-container-width
    display flex 
    width 100%
    
.row-flex
    margin-right -15px
    margin-left -15px

.align-items-end
    justify-content flex-end
    
.align-items-center
    align-items center
 
.justify-content-center
    justify-content center   
    
.block-overflow
    overflow hidden

.nowrap
    white-space nowrap

::-webkit-scrollbar
    @media screen and (max-width: 576px)
        width 2px

::-webkit-scrollbar-track-piece
    background-color #ccc
    border-radius 0px
    
::-webkit-scrollbar-thumb:vertical
    background-color #898989
    border-radius 2px
    