.head-quotes-block
    border 3px solid #f1e8f0
    padding 25px 0

.head-quotes-block__text
    font-family RobotoRegular, sans-serif
    color #000
    font-size 14px
    position relative
    line-height normal
    &:before
        content ""
        position absolute
        background url(../img/icon_quotes_open.png) no-repeat center center
        top -10px
        left -38px
        width 51px
        height 37px
    &:after
        content ""
        position absolute
        background url(../img/icon_quotes_close.png) no-repeat center center
        bottom -10px
        right -38px
        width 51px
        height 37px

.head-quotes-block__paragraph + .head-quotes-block__paragraph
    margin-top 20px

.head-quotes-block__title
    font-family Roboto, sans-serif
    font-weight 700
    font-style italic

.feedback-container__top
    border-bottom 1px solid lgrey
    position relative
    padding-bottom 10px
    display flex
    flex-wrap wrap
    justify-content center

.feedback-container__title
    font-family Roboto, sans-serif
    font-weight 500
    text-transform uppercase
    font-size 24px
    line-height 45px
    width 100%

.feedback-container__add-feedback-button
    border-color fblue
    color fblue
    background none

@media screen and (min-width: 768px)
    .feedback-container
        margin-top 45px

    .feedback-container__top
        flex-wrap nowrap

    .feedback-container__add-feedback-button
        order -1

@media screen and (min-width: 992px)
    .feedback-container__add-feedback-button
        position absolute
        left 0
        bottom 10px

.feedback-container__block-container
    padding 30px 0

.feedback-container__block + .feedback-container__block
    margin-top 30px

.feedback-container__block-inner
    max-width 750px
    float left

.feedback-container__block_admin-comment
    float right

.feedback-container__block-top
    margin 0 -10px
    justify-content flex-start

.feedback-container__block_admin-comment .feedback-container__block-top
    justify-content flex-end

.feedback-container__block-top-part
    margin 0 10px 10px

.feedback-container__block-date
    font-size 12px
    font-family RobotoRegular, sans-serif
    text-transform uppercase

.feedback-container__block-sender
    font-size 12px
    font-family RobotoRegular, sans-serif
    text-transform uppercase

.feedback-container__block-rating
    font-size 14px
    font-family RobotoRegular, sans-serif
    text-transform uppercase

.feedback-container__block-rating b
    font-family Roboto, sans-serif
    font-weight 700
    font-size 14px
    margin-left 6px

.feedback-container__block-bubble
    border-radius 7px
    background #f1e8f0
    font-family RobotoLight, sans-serif
    line-height normal
    font-size 14px
    padding 25px 15px
    text-align left

.feedback-container__block_admin-comment .feedback-container__block-bubble
    background #e6e6e6
