.modal-windows
    position fixed
    height 100%
    width 100%
    top 0
    left 0
    text-align center
    z-index 1000
    font-size 0
    &:after
        content ""
        display inline-block
        height 100%
        vertical-align middle

.modal-windows__background
    position absolute
    height 100%
    width 100%
    top 0
    left 0
    background rgba(46, 45, 45, 0.6)

.modal-windows__window
    display inline-block
    vertical-align middle
    max-width 570px
    background #fff
    position relative
    width 100%

.modal-windows__window-title
    font-family RobotoRegular, sans-serif
    padding 20px 40px
    color black
    font-size 16px

.modal-windows__window-close
    position absolute
    top 18px
    right 19px

.modal-windows__window-form-group
    padding 20px 40px

.modal-windows__window-form-group + .modal-windows__window-form-group
    border-top 1px solid lgrey

.modal-windows__window-form-group label
    font-family RobotoLight, sans-serif
    font-size 14px
    margin-right 24px

#modal-windows__window-sing-in-input
    border 1px solid #9a9a9a
    width 260px
    max-width 65%
    display inline-block

#modal-windows__window-sing-in-button
    text-transform uppercase
    font-family Roboto,sans-serif
    font-weight 700

.modal-windows__window-sing-in-reminder
    width 220px
    max-width 70%
    text-align left
    font-family RobotoLight, sans-serif
    font-size 14px
    color #242424
    margin 25px auto 0
    position relative
    line-height normal
    padding 0 0 6px 6px

.modal-windows__window-sing-in-reminder-icon
    position absolute
    top -5px
    left -23px
    font-size 19px

.modal-windows__window-dialog-bubble
    padding 15px
    font-family RobotoLight, sans-serif
    font-size 12px
    color dgrey
    line-height normal
    border-radius 7px
    text-align left

.modal-windows__window-dialog-bubble + .modal-windows__window-dialog-bubble
    margin-top 15px

.modal-windows__window-dialog-bubble-user
    background #f1e8f0

.modal-windows__window-dialog-bubble-admin
    background #e6e6e6

.modal-windows__window-smiles-container
    justify-content flex-start
    margin-left -15px

.modal-windows__window-smile
    margin-left 15px
    margin-bottom 15px
    padding 0

.modal-windows__window-dialog-your-message
    text-align left

#modal-windows__window-dialog-textarea
    border 1px solid #9a9a9a

#modal-windows__window-dialog-send-button
    text-transform uppercase
    font-family Roboto,sans-serif
    font-weight 700

.side-menu
    position fixed
    left -102px
    top 50%
    transform translateY(-50%)
    z-index 900

.side-menu__list-item
    position relative
    left 0
    background #2e2d2d
    border-radius 0 5px 5px 0
    transition left ease 0.5s
    &:hover
        left 102px

.side-menu__list-item + .side-menu__list-item
    margin-top 10px

.side-menu__list-item a
    padding 7px 8px 7px 30px

.side-menu__list-item-title
    color #fff
    width 70px
    font-family Roboto,sans-serif
    font-weight 600
    text-align left
    display block

.side-menu__list-item-icon
    width 24px
    height 21px
    display block
    margin-left 10px
    background-position center center
    background-repeat no-repeat

.side-menu__list-item-icon_speech
    background-image url(../img/icon_speak.png)

.side-menu__list-item-icon_question
    background-image url(../img/icon_question.png)

.side-menu__list-item-icon_heart
    background-image url(../img/icon_heart.png)

.side-menu__list-item-icon_cart
    background-image url(../img/icon_cart.png)

.head-quotes-block
    border 3px solid #f1e8f0
    padding 25px 0

.head-quotes-block__text
    font-family RobotoRegular, sans-serif
    color #000
    font-size 14px
    position relative
    line-height normal
    &:before
        content ""
        position absolute
        background url(../img/icon_quotes_open.png) no-repeat center center
        top -10px
        left -38px
        width 51px
        height 37px
    &:after
        content ""
        position absolute
        background url(../img/icon_quotes_close.png) no-repeat center center
        bottom -10px
        right -38px
        width 51px
        height 37px

.head-quotes-block__paragraph + .head-quotes-block__paragraph
    margin-top 20px

.head-quotes-block__title
    font-family Roboto, sans-serif
    font-weight 700
    font-style italic

.feedback-container__top
    border-bottom 1px solid lgrey
    position relative
    padding-bottom 10px
    display flex
    flex-wrap wrap
    justify-content center

.feedback-container__title
    font-family Roboto, sans-serif
    font-weight 500
    text-transform uppercase
    font-size 24px
    line-height 45px
    width 100%

.feedback-container__add-feedback-button
    border-color fblue
    color fblue
    background none

@media screen and (min-width: 768px)
    .feedback-container
        margin-top 45px

    .feedback-container__top
        flex-wrap nowrap

    .feedback-container__add-feedback-button
        order -1

@media screen and (min-width: 992px)
    .feedback-container__add-feedback-button
        position absolute
        left 0
        bottom 10px

.feedback-container__block-container
    padding 30px 0

.feedback-container__block + .feedback-container__block
    margin-top 30px

.feedback-container__block-inner
    max-width 750px
    float left

.feedback-container__block_admin-comment
    float right

.feedback-container__block-top
    margin 0 -10px
    justify-content flex-start

.feedback-container__block_admin-comment .feedback-container__block-top
    justify-content flex-end

.feedback-container__block-top-part
    margin 0 10px 10px

.feedback-container__block-date
    font-size 12px
    font-family RobotoRegular, sans-serif
    text-transform uppercase

.feedback-container__block-sender
    font-size 12px
    font-family RobotoRegular, sans-serif
    text-transform uppercase

.feedback-container__block-rating
    font-size 14px
    font-family RobotoRegular, sans-serif
    text-transform uppercase

.feedback-container__block-rating b
    font-family Roboto, sans-serif
    font-weight 700
    font-size 14px
    margin-left 6px

.feedback-container__block-bubble
    border-radius 7px
    background #f1e8f0
    font-family RobotoLight, sans-serif
    line-height normal
    font-size 14px
    padding 25px 15px
    text-align left

.feedback-container__block_admin-comment .feedback-container__block-bubble
    background #e6e6e6
