.che-header
    display flex
    align-items center
    justify-content space-between
    overflow hidden

.che-header__logo
    max-width 100%

@media (max-width: 749px)
    .che-header__logo-link
        margin 0 -95px
