.che-main
    margin 30px auto
    
.che-main__margin
    margin-bottom 60px

a.che-main__block
    display block
 
.che-news-container 
    background #fffbf8
    height 295px
    
.che-news-container__second
    height 295px
    text-align center
    
.che-news-container__first
    margin-top 14px
    text-align center

.che-news-container__title-h2
    text-align center
    color #595959

.che-excluzive-collection-first
    text-align right
    position relative
    display flex
    align-items center
    justify-content flex-end
    &:hover img 
        transform translateX(-20px)
    &:hover .che-excluzive-collection__title
        padding 21px 0 21px 55px
        

.che-excluzive-collection-second
    text-align left
    position relative
    display flex
    align-items center
    justify-content flex-start
    &:hover img 
        transform translateX(20px)
    &:hover .che-excluzive-collection__title
        padding 21px 55px 21px 0

.che-four-block__item:hover .che-mask
    opacity .5

.che-excluzive-collection-second img, .che-excluzive-collection-first img
    transition .5s

.che-mask 
    transition .4s ease
    opacity 1
    display block
    
.img-borders
    border-width 0px 1px 1px 1px
    border-style solid 
    border-color #9d9d9d 

.che-news-container__title-text
    font-size 30px
    font-family Roboto
    font-weight 600
    letter-spacing 7px 
    text-transform uppercase
    width 100%
    display block
    padding 13px

.che-news-container__title-description
    font-size 12px
    font-family OpenSansLight
    letter-spacing 4px 
    text-transform uppercase
    width 100%
    display block
    
.che-main-fluid
    display block
    width 100%

.che-excluzive-collection__title
    display inline-block
    background #f1f4f6
    color #595959
    font-size 16px
    padding 21px 25px
    width 85%
    transition .5s
    font-family OpenSansLight
    letter-spacing 2px 
    text-transform uppercase
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    z-index -1
  
.che-left__title
    text-align left

.che-right__title
    text-align right
    right 0
    left inherit
    width 70%

.che-mans-and-kids-container
    background #f1f4f6

.che-mans-and-kids-container__title
    position absolute
    text-transform uppercase
    font-family OpenSansLight
    letter-spacing 2px 
    font-size 18px
    color #595959
    line-height 25px
    padding 15px
    top 50%
    transform translateY(-50%)
    
.che-right-absolute__title
    right 0

.che-top-margin
    margin-top 60px

.che-flexible
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

.che-flexible__child-index
    display flex
    flex-wrap wrap
    justify-content space-between
    flex-direction column
    
.che-flexible__child
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

.che-min-wrap-flexible
    display flex
    flex-wrap wrap

.che-flexible__divider
    width 100%
 
.che-flexible__child__title-auction
    position absolute

.che-flexible__child__title-sale
    width 50%
    height 50%
    margin auto
    text-align center
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    display flex
    flex-wrap wrap
    align-content center
    justify-content center

.che-flexible__child__title-auction
    right 0
    padding-right 35px
    text-align right
    top 50%
    transform translateY(-50%)

.che-flexible__child__title-sale-general 
    font-size 40px
    font-family Roboto
    font-weight 700
    color #595959
    text-align center
    letter-spacing 18px
    text-transform uppercase
    display block

.che-flexible__child__title-auction-general
    font-size 24px
    font-family Roboto
    font-weight 700
    color #fff
    letter-spacing 3px
    text-transform uppercase
    display block    

.che-flexible__child__title-auction-less
    font-family OpenSansLight
    font-size 10px
    color #fff
    letter-spacing 3px
    text-transform uppercase
    display block
    padding-top 12px


.che-flexible__child__title-sale-less
    font-family OpenSansLight
    font-size 10px
    color #595959
    letter-spacing 7px
    text-transform uppercase
    display block
    padding-top 10px

.che-flexible__child__title-white
    padding 27px 40px
    font-size 21px
    font-family OpenSansLight
    letter-spacing 3px
    line-height 30px
    background #fff
    position absolute
    text-transform uppercase
    top 50%
    right 0
    text-align right
    color #595959
    margin-top -45px

.che-link-item-index
    position relative
    display flex
    align-items center
    justify-content center

.che-main__block-tilte-container
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    display flex 
    align-items center
    &:after
        content ""
        display inline-block
        vertical-align middle
        height 100%

.che-main__block-title
    padding 10px 10px 10px 30px
    width 80%
    background rgba(0, 0, 0, 0.43)
    color white
    text-transform uppercase
    font-size 26px
    font-family OpenSansLight
    height 85px
    letter-spacing 3px
    line-height 30px
    transition .5s
    &:after
        content ""
        display inline-block
        vertical-align middle
        height 100%

.che-main__block-title-display-inline-block
    vertical-align middle
    display inline-block
    max-width 95%
    
.che-main__block-title i 
    font-size 12px 
    width 100%
    display block
    letter-spacing 0px
    

.che-main__block-title.sale
    font-size 60px

.che-header__title span
    position relative
    &:before
        content "\301"
        position absolute
        font-size 27px
        top -5px
        left 17px
        color #464646

.che-block-top-title
    padding 20px 0
    background #f1f4f6
    font-family OpenSansLight
    font-size 16px
    letter-spacing 2px
    text-align center
    text-transform uppercase
    color #595959

.che-sm-md-between
    margin-top 0

@media (max-width: 960px) and (min-width: 768px)
    .che-flexible__child
        flex-direction row
        
    .che-sm-md-between
        width 48%
        margin-top 60px
        
    .che-margin-md-sm
        margin-bottom 60px
        
    .che-right__title
        width 80%
        
@media (max-width: 768px)
    .che-sm-md-between
        width 100%
        margin-top 60px
        
    .che-margin-md-sm
        margin-bottom 60px
        
    .che-margin-xs
        margin-bottom 60px
        
    .che-news-container__second
        display none
        
    .che-right__title
        width 80%
        
    .che-flexible__child__title-auction
        right 35px
        
@media (max-width: 520px)

    .che-flexible__child__title-auction
        right 5px
        
    .che-sm-md-between, .che-top-margin
        margin-top 30px
        
    .che-main__margin
        margin-bottom 30px

    .che-xs-four
        width 80%
        display table
        margin 0 auto 60px
        &:last-child
            margin 0 auto
            
    .che-news-container__first
        display none
        
    .che-news-container__title
        width 100%
        padding 50px 0
        
    .che-mans-and-kids-container__title
        font-size 12px
        
    .che-excluzive-collection__title
        padding 21px 140px 21px 25px
        line-height 30px
        
    .che-excluzive-collection-first
        text-align right
        &:hover img 
            transform translateX(0px)
        &:hover .che-excluzive-collection__title
            padding 21px 140px 21px 25px


    .che-excluzive-collection-second
        text-align left
        &:hover img 
            transform translateX(0px)
        &:hover .che-excluzive-collection__title
            padding 21px 25px 21px 100px
            
    .che-right__title
        padding 21px 25px 21px 100px
        width 70%

    