.che-main
    margin 30px auto
    
.che-main__margin
    margin-bottom 60px

a.che-main__block
    display block
 
.che-news-container 
    background #fffbf8
    height 295px
    
.che-news-container__second
    height 295px
    text-align center
    
.che-news-container__first
    margin-top 14px
    text-align center

.che-news-container__title-h2
    text-align center
    color #595959

.che-excluzive-collection-first
    text-align right
    position relative
    display flex
    align-items center
    justify-content flex-end
    &:hover img 
        transform translateX(-20px)
    &:hover .che-excluzive-collection__title
        padding 21px 0 21px 55px
        

.che-excluzive-collection-second
    text-align left
    position relative
    display flex
    align-items center
    justify-content flex-start
    &:hover img 
        transform translateX(20px)
    &:hover .che-excluzive-collection__title
        padding 21px 55px 21px 0

.che-four-block__item:hover .che-mask
    opacity .5

.che-excluzive-collection-second img, .che-excluzive-collection-first img
    transition .5s

.che-mask 
    transition .4s ease
    opacity 1
    display block
    
.img-borders
    border-width 0px 1px 1px 1px
    border-style solid 
    border-color #9d9d9d 

.che-news-container__title-text
    font-size 30px
    font-family Roboto
    font-weight 600
    letter-spacing 7px 
    text-transform uppercase
    width 100%
    display block
    padding 13px

.che-news-container__title-description
    font-size 12px
    font-family OpenSansLight
    letter-spacing 4px 
    text-transform uppercase
    width 100%
    display block
    
.che-main-fluid
    display block
    width 100%

.che-excluzive-collection__title
    display inline-block
    background #f1f4f6
    color #595959
    font-size 16px
    padding 21px 25px
    width 85%
    transition .5s
    font-family OpenSansLight
    letter-spacing 2px 
    text-transform uppercase
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    z-index -1
  
.che-left__title
    text-align left

.che-right__title
    text-align right
    right 0
    left inherit
    width 70%

.che-mans-and-kids-container
    background #f1f4f6

.che-mans-and-kids-container__title
    position absolute
    text-transform uppercase
    font-family OpenSansLight
    letter-spacing 2px 
    font-size 18px
    color #595959
    line-height 25px
    padding 15px
    top 50%
    transform translateY(-50%)
    
.che-right-absolute__title
    right 0

.che-top-margin
    margin-top 60px

.che-flexible
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

.che-flexible__child-index
    display flex
    flex-wrap wrap
    justify-content space-between
    flex-direction column
    
.che-flexible__child
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

.che-min-wrap-flexible
    display flex
    flex-wrap wrap

.che-flexible__divider
    width 100%
 
.che-flexible__child__title-auction
    position absolute

.che-flexible__child__title-sale
    width 50%
    height 50%
    margin auto
    text-align center
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    display flex
    flex-wrap wrap
    align-content center
    justify-content center

.che-flexible__child__title-auction
    right 0
    padding-right 35px
    text-align right
    top 50%
    transform translateY(-50%)

.che-flexible__child__title-sale-general 
    font-size 40px
    font-family Roboto
    font-weight 700
    color #595959
    text-align center
    letter-spacing 18px
    text-transform uppercase
    display block

.che-flexible__child__title-auction-general
    font-size 24px
    font-family Roboto
    font-weight 700
    color #fff
    letter-spacing 3px
    text-transform uppercase
    display block    

.che-flexible__child__title-auction-less
    font-family OpenSansLight
    font-size 10px
    color #fff
    letter-spacing 3px
    text-transform uppercase
    display block
    padding-top 12px


.che-flexible__child__title-sale-less
    font-family OpenSansLight
    font-size 10px
    color #595959
    letter-spacing 7px
    text-transform uppercase
    display block
    padding-top 10px

.che-flexible__child__title-white
    padding 27px 40px
    font-size 21px
    font-family OpenSansLight
    letter-spacing 3px
    line-height 30px
    background #fff
    position absolute
    text-transform uppercase
    top 50%
    right 0
    text-align right
    color #595959
    margin-top -45px

.che-link-item-index
    position relative
    display flex
    align-items center
    justify-content center

.che-main__block-tilte-container
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    display flex 
    align-items center
    &:after
        content ""
        display inline-block
        vertical-align middle
        height 100%

.che-main__block-title
    padding 10px 10px 10px 30px
    width 80%
    background rgba(0, 0, 0, 0.43)
    color white
    text-transform uppercase
    font-size 26px
    font-family OpenSansLight
    height 85px
    letter-spacing 3px
    line-height 30px
    transition .5s
    &:after
        content ""
        display inline-block
        vertical-align middle
        height 100%

.che-main__block-title-display-inline-block
    vertical-align middle
    display inline-block
    max-width 95%
    
.che-main__block-title i 
    font-size 12px 
    width 100%
    display block
    letter-spacing 0px
    

.che-main__block-title.sale
    font-size 60px

.che-header__title span
    position relative
    &:before
        content "\301"
        position absolute
        font-size 27px
        top -5px
        left 17px
        color #464646

.che-block-top-title
    padding 20px 0
    background #f1f4f6
    font-family OpenSansLight
    font-size 16px
    letter-spacing 2px
    text-align center
    text-transform uppercase
    color #595959

.che-sm-md-between
    margin-top 0

@media (max-width: 960px) and (min-width: 768px)
    .che-flexible__child
        flex-direction row
        
    .che-sm-md-between
        width 48%
        margin-top 60px
        
    .che-margin-md-sm
        margin-bottom 60px
        
    .che-right__title
        width 80%
        
@media (max-width: 768px)
    .che-sm-md-between
        width 100%
        margin-top 60px
        
    .che-margin-md-sm
        margin-bottom 60px
        
    .che-margin-xs
        margin-bottom 60px
        
    .che-news-container__second
        display none
        
    .che-right__title
        width 80%
        
    .che-flexible__child__title-auction
        right 35px
        
@media (max-width: 520px)

    .che-flexible__child__title-auction
        right 5px
        
    .che-sm-md-between, .che-top-margin
        margin-top 30px
        
    .che-main__margin
        margin-bottom 30px

    .che-xs-four
        width 80%
        display table
        margin 0 auto 60px
        &:last-child
            margin 0 auto
            
    .che-news-container__first
        display none
        
    .che-news-container__title
        width 100%
        padding 50px 0
        
    .che-mans-and-kids-container__title
        font-size 12px
        
    .che-excluzive-collection__title
        padding 21px 140px 21px 25px
        line-height 30px
        
    .che-excluzive-collection-first
        text-align right
        &:hover img 
            transform translateX(0px)
        &:hover .che-excluzive-collection__title
            padding 21px 140px 21px 25px


    .che-excluzive-collection-second
        text-align left
        &:hover img 
            transform translateX(0px)
        &:hover .che-excluzive-collection__title
            padding 21px 25px 21px 100px
            
    .che-right__title
        padding 21px 25px 21px 100px
        width 70%
//----------------------------------------------

.che-index__wrap
    flex 1 0 auto
    position relative

.che-index__wrap_bg
    position absolute
    width 30%
    bottom -4%
    left 7%
    z-index -1
    @media (max-width: 1560px)
        bottom -3%
    
.che-index__inner
    width 1560px
    margin 0 auto
    padding 60px 0 15px
    @media (max-width: 1680px)
        width 90%
    @media (max-width: 1199px)
        padding-top 70px
    @media (max-width: 640px)
        padding 15px
        width 100%
    
.che-index__info-wrap
    border 1px solid #000
    box-shadow 0 0 0 1px #888888 inset
    padding 62px 0 45px
    position relative
    margin 0 25px
    @media (max-width: 1199px)
        padding-top 75px
    @media (max-width: 991px)
        padding 130px 0 100px
    @media (max-width: 840px)
        padding-top 145px
    @media (max-width: 640px)
        padding-top 0
        border none
        box-shadow none
        padding-bottom 0
    
.che-index__info-head
    background #fff
    padding 15px
    text-align center
    position absolute
    width 820px
    top -41px
    left 50%
    transform translateX(-50%)
    & p
        font 16px/28px RobotoLight
        color #000
        letter-spacing .4px
    @media (max-width: 1199px)
        width 630px
        top -50px
    @media (max-width: 840px)
        width 85%
    @media (max-width: 640px)
        position static
        transform translateX(0)
        width 100%
        padding 15px 0
        & p
            font-size 15px
            line-height 22px
    
.che-index__info-inner
    display flex
    justify-content center
    height 180px
    @media (max-width: 991px)
        height auto

.che-index__info-item
    width 20%
    display flex
    flex-direction column
    align-items center

.che-index__info-item--tobottom
    justify-content flex-end

.che-index__info-text
    font 14px/22px RobotoLight
    color #000
    letter-spacing .35px
    position absolute
    text-align center
    width 250px
    
    
.che-index__info-img
    width 85px

            
.che-index__info-textpart
    height 38px
    width 1px
    position relative
    & p
        left 50%
        transform translateX(-50%)
    @media (max-width: 991px)
        height auto
        width 0
        background transparent
    @media (max-width: 640px)
            display none
                
.che-index__info-imgpart
    width 100%
    text-align center
    
.text--top
    & p
        bottom 100%

.text--bottom
    & p
        top 100%

.text--1
    background #ee3c57
    & p
        padding-bottom 10px
        
.text--2
    background #07c192
    & p
        padding-top 7px

.text--3
    background #feae00
    & p
        padding-bottom 10px
    @media (max-width: 991px)
        & p
            width 180px

.text--4
    background #ff702c
    & p
        padding-top 13px
    @media (max-width: 991px)
        & p
            width 180px
            padding-top 7px
                   
.img--top
    padding-top 16px
    padding-bottom 9px
    @media (max-width: 991px)
        padding-bottom 0
            
.img--bottom
    padding-top 11px
    @media (max-width: 991px)
        padding-top 0

.border--red
    border-top 1px solid #ee3c57
    @media (max-width: 991px)
        border-top none

.border--green
    border-bottom 1px solid #07c192
    @media (max-width: 991px)
        border-bottom none
        
.border--yellow
    border-top 1px solid #feae00
    @media (max-width: 991px)
        border-top none
        
.border--orange
    border-bottom 1px solid #ff702c
    @media (max-width: 991px)
        border-bottom none

.che-index__info-text--mobile
    display none
    @media (max-width: 640px)
        display block
        padding 35px 0 15px 35px

.che-index__info-item--mobile
    font 14px/20px RobotoLight
    color #000
    letter-spacing .35px
    position relative
    padding-left 25px
    margin-bottom 15px
    &:before
        content ''
        display block
        position absolute
        border-top 10px solid transparent
        border-bottom 10px solid transparent
        width 0
        height 0
        top 50%
        transform translateY(-50%)
        left 0

.che-index__info-item--mobile-1
    &:before
        border-left 15px solid #ee3c57

.che-index__info-item--mobile-2
    &:before
        border-left 15px solid #07c192

.che-index__info-item--mobile-3
    &:before
        border-left 15px solid #feae00

.che-index__info-item--mobile-4
    &:before
        border-left 15px solid #ff702c

.che-bold
    font-weight 700
    
//----banners---------------
.che-index__banners-wrap
    padding-top 50px
    @media (max-width: 991px)
        padding-top 30px
    @media (max-width: 640px)
        padding-top 0
                
.masonry-item
    width 33.3%
    &:hover
        cursor url('../img/plus.png'), auto i 
        & .che-index__banner-img 
            filter grayscale(100%)
    @media (max-width: 991px)
        width 50%
    @media (max-width: 500px)
        width 100%
    
.masonry-stamp 
    width 33.3%
    height 100px
    @media (max-width: 991px)
        width 0%
    @media (max-width: 500px)
        width 0%
        
.masonry-parent
    opacity 0
    position relative
    height 300px
    overflow hidden

.che-index__banner-item
    padding 30px 25px 100px
    text-align center
    @media (max-width: 1200px)
        padding-bottom 60px
    @media (max-width: 700px)
        padding 15px 15px 45px

.che-index__banner-item
    &:focus, &:hover
        color inherit
        text-decoration none
                
.che-index__banner-img
    max-width 100%
    width 100%
    margin-bottom 50px
    filter grayscale(0%)
    transition .3s
    @media (max-width: 1200px)
        margin-bottom 35px
    @media (max-width: 700px)
        margin-bottom 25px
        
.che-index__banner-title
    font 48px/48px RobotoBlack
    color #000
    letter-spacing 4.8px
    text-align right
    text-transform uppercase
    @media (max-width: 1560px)
        font-size 40px
        line-height 40px
    @media (max-width: 1200px)
        font-size 30px
        line-height 30px
    @media (max-width: 700px)
        font-size 34px
        line-height 34px
                
.che-index__banner-title--red 
    background #f50b33
    color #fff
    padding-left 4px

.che-index__banner-title--blue
    background #0179b5
    color #fff
    padding-left 4px
    
.che-index__banner-title--yellow
    background #fff59b
    color #000
    padding-left 4px
    
.che-index__banner-title--grey
    background #9db9ca
    color #fff
    padding-left 4px
    
.che-index__banner-title--marsala
    background #7f1949
    color #fff
    padding-left 4px
    
.che-index__banner-title--bieje
    background #e3b3a7 
    color #fff
    padding-left 4px
    
.che-index__banner-title--darkblue   
    background #194eaa
    color #fff
    padding-left 4px
    
.che-index__banner-title--pink
    background #a55a94
    color #fff
    padding-left 4px
    
.che-index__banner-title--lightblue
    background #cce0f1
    color #000
    padding-left 4px
    
.che-index__banner-title--lightpink
    background #f09dc6
    color #fff
    padding-left 4px

.che-index__banner-title--rose
    background #ff0067
    color #fff
    padding-left 4px
    


/*.che-index__banners-wrap
    & a:hover
        color inherit*/
        