.che-main
	margin 30px auto 10px
	
.che-main__block
	min-height 100px
	background lgrey
	margin-bottom 30px
	width 100%
	
.che-flexible
	display flex
	
.che-flexible__child
	display flex
	flex-wrap wrap