.filters-panel__product
    border-bottom 1px solid #cdcdcd

.filters-panel__panel-right
    width 100%

.filters-panel__panel-right .filters-panel__price-type>span
    width auto

@media screen and (max-width: 767px)
    .filters-panel__return
        display none

@media screen and (min-width: 768px)
    .filters-panel__panel-right
        max-width 351px

.catalog-sidebar__product-info
    font-family RobotoLight, sans-serif
    font-size 14px
    color #242424

.tumbnails__container
    margin 0 auto
    padding-bottom 15px

.tumbnails__container .img-responsive
    width 100%

.main-tumbnail__container
    position relative

.main-tumbnail__bottom
    position absolute
    width 100%
    background rgba(51,51,51,.9)
    left 0
    bottom 0
    padding 15px
    text-align center

.additional-tumbnails__container
    margin 10px -5px 10px

.additional-tumbnail
    padding 0 5px
    width 33.333333333%

.product-title
    font-family Roboto, sans-serif
    color #000
    font-weight 700
    font-size 18px
    padding-bottom 15px

.product-options-block__top
    background rgba(51,51,51,.9)
    padding 15px
    color #fff

.product-options-block__price-rozn
    font-family RobotoLight, sans-serif
    font-size 14px

.product-options-block__price-rozn b
    font-family Roboto, sans-serif
    font-weight 500
    font-size 24px

.product-options-block__price-opt
    font-family RobotoLight, sans-serif
    font-size 14px
    margin-top 10px

.product-options-block__price-opt b
    font-family Roboto, sans-serif
    font-weight 500
    font-size 24px

.product-options-block__price-opt b a
    font-family RobotoLight, sans-serif
    font-size 14px
    text-decoration underline

.product-options-block__bottom
    margin 10px 0 15px

.product-options-block__bottom .my_input_group
    padding 10px 0

.product-options-block__bottom .my_input_group label
    width 100%
    border 1px solid #a7abc3

.product-options-block__bottom .my_input_group label span
    font-family RobotoLight, sans-serif
    font-size 12px
    color #000
    width 75px
    text-align center

.product-options-block__color
    appearance none
    width calc(100% - 75px)
    height 45px
    font-family RobotoLight, sans-serif
    font-size 12px
    border-radius 0
    color black
    border 1px solid #a7abc3
    margin -1px -1px -1px 0
    padding 0 10px

.product-options-block__size
    appearance none
    width 45px
    height 45px
    text-align center
    font-family RobotoRegular, sans-serif
    border-radius 0
    font-size 18px
    color black
    border 1px solid #a7abc3
    margin -1px -1px -1px 0
    padding 0
    text-align-last center

.product-options-block__quantity
    width 45px
    height 45px
    text-align center
    font-family RobotoRegular, sans-serif
    border-radius 0
    font-size 18px
    color black
    border 1px solid #a7abc3
    margin -1px -1px -1px 0
    padding 0

.product-description__title
    font-family Roboto, sans-serif
    font-weight 500
    font-size 16px
    color #000
    border-bottom 1px solid #dadada
    padding-bottom 5px

.product-description__text
    font-family RobotoLight, sans-serif
    font-size 14px
    color #000
    padding 10px 0
    text-align justify
