.side-menu
    position fixed
    left -102px
    top 50%
    transform translateY(-50%)
    z-index 900

.side-menu__list-item
    position relative
    left 0
    background #2e2d2d
    border-radius 0 5px 5px 0
    transition left ease 0.5s
    &:hover
        left 102px

.side-menu__list-item + .side-menu__list-item
    margin-top 10px

.side-menu__list-item a
    padding 7px 8px 7px 30px

.side-menu__list-item-title
    color #fff
    width 70px
    font-family Roboto,sans-serif
    font-weight 600
    text-align left
    display block

.side-menu__list-item-icon
    width 24px
    height 21px
    display block
    margin-left 10px
    background-position center center
    background-repeat no-repeat

.side-menu__list-item-icon_speech
    background-image url(../img/icon_speak.png)

.side-menu__list-item-icon_question
    background-image url(../img/icon_question.png)

.side-menu__list-item-icon_heart
    background-image url(../img/icon_heart.png)

.side-menu__list-item-icon_cart
    background-image url(../img/icon_cart.png)
