.che-text-page
	padding 0px 0 15px
	text-align center
	border-bottom 1px solid #cdcdcd

.che-text-page__title
	font-family RobotoRegular
	font-size 18px

.che-text-page__description
	padding-top 20px

.che-text-page__description h3
	font-family RobotoRegular
	font-size 16px
	padding 20px 0
	
.che-text-page__description p
	font-family RobotoLight
	font-size 16px
	line-height 20px

.che-text-page__description ol
	padding 0px 20px
	
.che-text-page__description ol li
	font-family RobotoLight
	font-size 16px
	padding 15px 0
	line-height 20px